/**
ambient
[am-bee-uh nt]

adjective
1.
of the surrounding area or environment
2.
completely surrounding; encompassing
3.
creating a certain reaction or mood, often a subconscious one, by being wherever people tend to be

4.
pertaining to or noting sounds that create a peaceful and relaxed atmosphere
5.
pertaining to or noting close and constant social contact and communication fostered by the Internet or the use of digital devices
*/

/**
* Vanilla CSS 1.0.2
* http://cssreset.com
* http://www.cssreset.com/scripts/vanilla-css-un-reset/
*/
body {
    font: 9pt/1.5em sans-serif;
}
pre, code, tt {
    font: 1em/1.5em 'Andale Mono', 'Lucida Console', monospace;
}
h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: bold;
}
em, i, dfn {
    font-style: italic;
}
dfn {
    font-weight:bold;
}
p, code, pre, kbd {
    margin:0 0 1.5em 0;
}
blockquote {
    margin:0 1.5em 1.5em 1.5em;
}
cite {
    font-style: italic;
}
li ul, li ol {
    margin:0 1.5em;
}
ul, ol {
    margin:0 1.5em 1.5em 1.5em;
}
ul {
    list-style-type:disc;
}
ol {
    list-style-type:decimal;
}
ol ol {
    list-style: upper-alpha;
}
ol ol ol {
    list-style: lower-roman;
}
ol ol ol ol {
    list-style: lower-alpha;
}
dl {
    margin:0 0 1.5em 0;
}
dl dt {
    font-weight:bold;
}
dd {
    margin-left:1.5em;
}
table {
    margin-bottom:1.4em;
    width:100%;
}
th {
    font-weight:bold;
}
th, td, caption {
    padding:4px 10px 4px 5px;
}
tfoot {
    font-style:italic;
}
sup, sub {
    line-height:0;
}
abbr, acronym {
    border-bottom: 1px dotted;
}
address {
    margin:0 0 1.5em;
    font-style:italic;
}
del {
    text-decoration: line-through;
}
pre {
    margin:1.5em 0;
    white-space:pre;
}
img.centered, .aligncenter, div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.alignright {
    display: inline;
}
img.alignleft {
    display: inline;
}
.alignright {
    float: right;
    margin-left: 10px;
}
.alignleft {
    float: left;
    margin-right: 10px;
}
img {
    max-width: 100%;
}
* html .clearfix {
    height: 1%;
}
* + html .clearfix {
    display: inline-block;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .group {
    height: 1%;
}
* + html .group {
    display: inline-block;
}
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/**
* End Vanilla CSS
*/

/**
* Whiskey & Ghosts: corral base design pattern section widths & heights for ambient
*/
header, nav, main, article, section, footer, h1, p, hr, div {
    padding: .01vw;
    max-width: 100%; }
html {
    height: 100%; }
body {
    min-width: 100%;
    min-height: 100%; }
article, section, article h1, article p, footer {
    width: 100%; }

/**
* Ambient Base Design pattern
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
*:before, *:after {
    box-sizing: border-box; }

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
body > header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;; }
body > nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
body > nav a {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    transition: background 0.3s ease 0s;
    padding: 1vw;  }
body >  nav a:hover {
    background-color:#eee; }
body >  nav a.active {
    background-color:#eee; }
body >  nav a:not(:first-of-type) {
    text-align: center; }
body > article  {
    margin: auto;
    width: auto; }
h1 {
    font-size: 4vmin;
    line-height: 4vh; }
h2 {
    font-size: 3.5vmin;
    line-height: 3.5vh; }
h3 {
    font-size: 3vmin;
    line-height: 3vh; }
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0.12) -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 0;
    margin-top: 0;
    clear: both; }
a {
    display: inline-block; }
blockquote {
    font-size: small; }
article {
    display: -webkit-box; /* Safari */
    display: -moz-box; /* Firefox 21- */
    display: -ms-flexbox; /* IE 10+ */
    display: -webkit-flex; /* Chrome */
    display: flex; /* Standard (Firefox 22+) */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    /**
    * preemptive strike on absolute container positioning inside columns
    */
    position: relative;
    /**
    * ie9 float fall back for flex position
    */
    float: left \ ; }
section {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    /**
    * ie9 float fall back for flex position
    */
    float: left \ ; }
main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
footer {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }

@media (orientation:portrait){
    article, section {
        display: block;
    }
}

/* ambient classes: aesthetics */
.user-img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    border: 3px solid #fff;
    margin-right: 1vw;
    float: left; }
.user-img img {
    max-width: 97px;
    margin-top: -19px;
    margin-left: -22px; }
.user-logout {
    background-color:#FD8A78;
    color: #fff;
    height: 34px;
    width: 34px;
    margin: 1vw;
    line-height: 32px;
    text-align: center; }
.panel-tabs {
    float: left;
    list-style: none;
    text-align: center;
    margin: 0; }
.panel-tabs li {
    border-left: 1px solid rgba(0,0,0,0.1);
    position: relative;
    float: left; }
.panel-tabs li:last-child { border-right: 1px solid rgba(0,0,0,0.1); }
.panel-tabs li.active a, .panel-tabs li.active:hover a { color: #3e3e3e; cursor: default; }
.panel-tabs li.active a i, .panel-tabs li.active:hover a i { color:#e86f56; }
.panel-tabs li.active:before {
    content: '';
    position: absolute;
    bottom: 0;
    left:50%;
    margin-left: -7px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 9px solid #7a706e;
    z-index: 1; }
.panel-tabs li:hover a, .panel-tabs li:hover a i { color: #3e3e3e;  }
.panel-tabs li a {
    color: #9f9f9f;
    padding: .5vw 1.5vw;
    transition:color 0.3s; }
.panel-tabs li i {
    font-size: 3vmin;
    margin-bottom: .5vw;
    color: #b5adac;
    transition:color 0.3s; }
.panel-info h1 {
    margin-top: .5vw;
    color: #3e3e3e; }
.panel-info {
    float: left;
    margin: 0 2vw; }