a,
button {
  &[@{layout-var}~="split-bottom"] {
    bottom: -@am-btn-split-bottom;
    position: absolute;
    right: @am-btn-split-right;
  }
  &[@{layout-var}~="split-top"] {
    top: -@am-btn-split-top;
    position: absolute;
    right: @am-btn-split-right;
  }
}