a,
button {
  &[am-layout~="split-bottom"] {
    bottom: -@am-btn-split-bottom;
    position: absolute;
    right: @am-btn-split-right;
  }
  &[am-layout~="split-top"] {
    top: -@am-btn-split-top;
    position: absolute;
    right: @am-btn-split-right;
  }
}