// <fieldset> is a  replaced element and does not currently allow you to change its display with CSS, flexbox design pattern will break if you make use of <fieldset> element
form[@{layout-var}] input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
}
form[@{layout-var}] label {
  display: inline-block;
  & input {
    width: auto; }
}
//== Inline
form[@{layout-var}~="inline"] {
  // inherits default am-layout semantic root element properties
}
//== Stacked
form[@{layout-var}~="stacked"] {
  & input, & select, & textarea, & label {
    width: 100%; }
}
//== Aligned
form[@{layout-var}~="aligned"] > span {
  .flex-display;
  .flex-flow(row wrap);
  .justify-content(justify);
  width: 100%;
  & label,  & input, & select, & textarea {
    .flex(1 @am-flex-width1);
  }
}
//== Multi-column
form[@{layout-var}~="multicolumn"]  {
  .flex-display;
  .flex-flow(row wrap);
  & input, select, textarea, label {
    width: 100%; }
  & > div  {
    .flex(1 @am-flex-width1);
  }
}