// Google Material inspired
// http://www.google.com/design/spec/what-is-material/environment.html#environment-3d-world
[@{am-layer-var}] {
  &[@{am-layer-var}~="z1"] {
    z-index: 1;
  }
  &[@{am-layer-var}~="z2"] {
    z-index: 2;
  }
  &[@{am-layer-var}~="z3"] {
    z-index: 3;
  }
  &[@{am-layer-var}~="z4"] {
    z-index: 4;
  }
  &[@{am-layer-var}~="z5"] {
    z-index: 5;
  }
//  &[@{am-event-var}~="elevate"] {
//    &,
//    &:hover,
//    &:focus {
//      .z-depth-animation(5);
//      -webkit-transition:box-shadow @z-depth-animation-time @z-depth-animation-function;
//      -o-transition:box-shadow @z-depth-animation-time @z-depth-animation-function;
//      transition:box-shadow @z-depth-animation-time @z-depth-animation-function;
//    }
//  }
}