[@{am-margin-var}] {
  margin: @am-root-margin;
  &[@{am-margin-var}="small"] {
    margin: calc(@am-root-margin - .5em);
  }
  &[@{am-margin-var}="large"] {
    margin: calc(@am-root-margin + 2em);
  }
  &[@{am-margin-var}~="top"] {
    margin: @am-root-margin 0 0 0;
    &[@{am-margin-var}~="large"] {
      margin: calc(@am-root-margin + 2em) 0 0 0;
    }
    &[@{am-margin-var}~="small"] {
      margin: calc(@am-root-margin - .5em) 0 0 0;
    }
  }
  &[@{am-margin-var}~="right"] {
    margin: 0 @am-root-margin 0 0;
    &[@{am-margin-var}~="large"] {
      margin: 0 calc(@am-root-margin + 2em) 0 0;
    }
    &[@{am-margin-var}~="small"] {
      margin: 0 calc(@am-root-margin - .5em) 0 0;
    }
  }
  &[@{am-margin-var}~="bottom"] {
    margin: 0 0 @am-root-margin 0;
    &[@{am-margin-var}~="large"] {
      margin: 0 0 calc(@am-root-margin + 2em) 0;
    }
    &[@{am-margin-var}~="small"] {
      margin: 0 0 calc(@am-root-margin - .5em) 0;
    }
  }
  &[@{am-margin-var}~="left"] {
    margin: 0 0 0 @am-root-margin;
    &[@{am-margin-var}~="large"] {
      margin: 0 0 0 calc(@am-root-margin + 2em);
    }
    &[@{am-margin-var}~="small"] {
      margin: 0 0 0 calc(@am-root-margin - .5em);
    }
  }
}