nav[@{am-layout-var}] {
  &[@{am-layout-var}~="horizontal"] {
    a,
    button {
      flex: 1 @am-flex-width1;
      text-align: center;
    }
  }
  // default to horizontal
  &[@{am-layout-var}~="justify-align"] {
    justify-content: space-between;
    nav {
      justify-content: space-between;
    }
  }
  &[@{am-layout-var}~="left-align"] {
    a {
      align-self: flex-start;
    }
  }
  &[@{am-layout-var}~="right-align"] {
    justify-content: flex-end;
    nav {
      justify-content: flex-end;
    }
    a {
      align-self: flex-end;
    }
  }
  &[@{am-layout-var}~="center-align"] {
    justify-content: center;
    nav {
      justify-content: center;
    }
    a {
      align-self: center;
    }
  }
  &[@{am-layout-var}~="vertical"] {
    flex-flow: column nowrap;
    display: inline-block; // disable margin-collapse http://stackoverflow.com/questions/19718634/how-to-disable-margin-collapsing
    a {
      width: 100%;
    }
    &[@{am-layout-var}~="left-align"] {
      a {
        text-align: left;
      }
    }
    &[@{am-layout-var}~="center-align"] {
         a {
           text-align: center;
         }
       }
    &[@{am-layout-var}~="right-align"] {
      a {
        text-align: right;
      }
    }
  }
  & a {
    padding: @am-nav-link-padding;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
  }
}

nav[role~="tab"] {
  border-bottom: 1px solid #d6d6d6;
  margin: 5px 0;
  & a {
    flex-basis: auto;
    min-width: 44px;
    text-align: center;
    &.@{am-prefix}-active {
      background-color: #fff;
      border: 1px solid #d6d6d6;
      border-bottom: none;
      margin-bottom: -1px;
      z-index: 1;
    }
  }
  & nav {
    border: 1px solid #d6d6d6;
    margin-bottom: -1px;
    padding: 0 .5em;
    & a {
      margin-top: .5em;
    }
  }
}

button + [role~="dropdown"] {
  border: 1px solid #d6d6d6;
  padding: .5em;
  & button + nav {
    border: 1px solid #d6d6d6;
    padding: .5em;
    & a {
      flex-basis: auto;
      width: 100%;
      border: none;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
figure[role~="example"] {
    border-left: 5px solid @am-secondary;
    background-color: #fafafa;
    margin: .5em 0;
    padding: 1em;
    font-size: small;
    width: 100%;
    &:before,
    &:after {
      content: "";
    }
    & > h1,
    & > h2 ,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
      color: @am-primary;
    }
}