nav[@{am-layout-var}] {
  &[@{am-layout-var}~="horizontal"] {
    a {
      flex: 1 @am-flex-width1;
    }
  }
  &[@{am-layout-var}~="vertical"] {
    flex-flow: column nowrap;
  }
  &[@{am-layout-var}~="justify-align"] {
    justify-content: space-between;
  }
  &[@{am-layout-var}~="left-align"] {
    a {
      align-self: flex-start;
    }
  }
  &[@{am-layout-var}~="right-align"] {
    justify-content: flex-end;
    a {
      align-self: flex-end;
    }
  }
  &[@{am-layout-var}~="center-align"] {
    justify-content: center;
    a {
      align-self: center;
    }
  }
  & a:not(.am-floating-action) {
    padding: @am-nav-link-padding;
    display: inline-block;
    text-decoration: none;
    @media (max-width: 30em){
      font-size: 90%;
    }
  }
  &[am-layout~="tab"] {
    &[am-layout~="justify-align"] {
      nav {
        .justify-content(space-between);

      }
    }
    &[am-layout~="right-align"] {
      nav {
        .justify-content(flex-end);
        a {
          flex: none;
        }
      }
    }
    &[am-layout~="left-align"] {
      nav {
        .justify-content(flex-start);
        a {
          flex: none;
        }
      }
    }
    &[am-layout~="center-align"] {
      nav {
        .justify-content(center);
        a {
          flex: none;
        }
      }
    }
    & nav:nth-of-type(1) {
      background-color: @am-clr-secondary-bg;
    }
    & nav:nth-of-type(2) {
      background-color: @am-clr-primary-bg;
    }
  }
}

