table[@{layout-var}] {
  border-spacing: 0;
  border: 1px solid @am-clr-table-border;
  border-radius: 3px;
  width: 100%;
  font-size: 0.889em;
  border-collapse: initial;
  & caption {
    text-align: left;
    font-size: initial;
    & details {
      & summary {
        font-weight: 700;
        font-size: 24px;
        font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333  */
        margin-bottom: 22.275px;
        margin-bottom: 1.2375rem;
      }
    }
  }
  & thead {
    @media (orientation:portrait){
      display: none;
    }
  }
  & th {
    background-color: @am-clr-table-header-bg;
    border-bottom: 1px solid @am-clr-table-border-bottom;
    border-top: 1px solid @am-clr-table-border-top;
    padding: @am-root-padding;
    text-transform: uppercase;
    &:first-child {
      text-align: left;
    }
    @media (orientation:portrait){
      display: none;
    }
  }
  & tbody {
    & tr:first-of-type th {
      @media (orientation:portrait){
        display: block;
      }
    }
    @media (orientation:portrait){
      display: block;
    }
  }
  & td {
    border-bottom: 1px solid @am-clr-table-border-bottom;
    border-left: 1px solid @am-clr-table-border-bottom;
    border-top: 1px solid @am-clr-table-border-top;
    padding: @am-root-padding;
    &:first-child {
      border-left: 0 none;
      text-align: left;
      @media (orientation:portrait){
        text-align: right;
      }
    }
    @media (orientation:portrait){
      display: block;
      text-align: right;
      vertical-align: middle;
      width: 100%;
      border: 0 none;
      &[data-title]::before {
        content: attr(data-title);
        float: left;
        font-size: inherit;
        font-weight: 700;
        text-transform: uppercase;
        background-color: initial;
      }
    }
  }
  & tr {
    text-align: center;
    &:first-child {
      th:first-child {
        border-top-left-radius: 3px;
      }
      th:last-child {
        border-top-right-radius: 3px;
      }
    }
    &:nth-child(even) td {
      background-color: @am-clr-table-td-even-bg;
      @media (orientation:portrait){
        background-color: initial;
      }
    }
    &:not('tbody'):last-child td {
       border-bottom: 0 none;
    }
    &:last-child td {
      &:first-child {
        border-bottom-left-radius: 3px;
      }
      &:last-child {
        border-bottom-right-radius: 3px;
      }
    }
    &:hover td {
      background-color: @am-clr-table-td-hover;
      @media (orientation:portrait){
        background-color: initial;
      }
    }
    @media (orientation:portrait){
      display: block;
      border: 1px solid @am-clr-table-border;
      margin-bottom: @am-root-margin;
    }
  }
  tfoot {
    & tr:last-child {
      font-weight: 700;
      & td {
        border-bottom: 0 none;
        &:first-child {
          border-bottom-left-radius: 5px;
        }
        &:last-child {
          border-bottom-right-radius: 5px;
        }
      }
    }
    @media (orientation:portrait){
      display: block;
      margin-bottom: @am-root-margin;
      & tr {
        border: 0 none;
        & td {
          padding: 0;
        }
      }
    }
  }
  @media (orientation:portrait){
    border: 0 none;
  }
}