body > div[@{wrapper-var}] { // issue #23 https://github.com/ionlyseespots/ambient-design/issues/23
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  & > header,
  & > footer {
    background-color: @am-closure;
    color: @am-clr-primary-bg;
    &
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: @am-clr-primary-bg;
    }
    & a {
      color: @am-clr-primary-bg;
      &:hover {
        color: lighten(@am-clr-primary-bg, 20%);
      }
    }
  }
}

*:not(body) > [@{am-wrapper-var}] { // Generic wrapper
  max-height: 100%;
}

//http://www.smashingmagazine.com/2013/05/03/infinite-scrolling-lets-get-to-the-bottom-of-this/
[@{am-layout-var}] {
  &[@{am-layout-var}~="frame"] {
    flex-flow: column nowrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    & > {
      header {
        align-items: flex-start;
        flex: 0 0 auto;
      }
      div[@{am-scrollable-var}] {
        display: flex;
        flex-flow: row wrap;
        -webkit-overflow-scrolling: touch; // https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/
        overflow: auto;
        max-height: 100%;
      }
      footer {
        align-items: flex-start;
        flex: 0 0 auto;
      }
    }
    &[@{am-layout-var}~="overflow-y"] {
      > div[@{am-scrollable-var}] {
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
    &[@{am-layout-var}~="overflow-x"] {
      > div[@{am-scrollable-var}] {
        overflow-x: auto;
        overflow-y: hidden;
      }
    }
  }
}