<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Design patterns - form states</title>
    <!-- Ambient -->
    <link rel="stylesheet" href="../dist/css/ambient.min.css">
</head>
<body>
<main role="main">
<article>
<h1>
    Form States
</h1>
<h2>
    Inline Form
</h2>
<section>
    <h1>
        To create an inline form with the default form state design pattern, add the attribute <code>am-formstate</code> to any form.
    </h1>
</section>
<section>
    <blockquote>
        <h1>
            Inline
        </h1>
        <p>
            <code>&lt;form am-formstate&gt;</code>
        </p>
    </blockquote>
    <form am-formstate>
        <label for="stacked-email">Email</label>
        <input id="stacked-email" type="email" placeholder="Email">

        <label for="stacked-password">Password</label>
        <input id="stacked-password" type="password" placeholder="Password">

        <label for="stacked-remember">
            <input id="stacked-remember" type="checkbox"> Remember me
        </label>

        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</section>
<h2>
    Stacked Form
</h2>
<section>
    <h1>
        To create a default inline form, add the attribute <code>am-formstate</code> = <code>stacked</code> to any form.
    </h1>
</section>
<section>
    <blockquote>
        <h1>
            Stacked
        </h1>
        <p>
            <code>&lt;form am-formstate="stacked"&gt;</code>
        </p>
    </blockquote>
    <form am-formstate="stacked">
        <label for="stacked-email">Email</label>
        <input id="stacked-email" type="email" placeholder="Email">

        <label for="stacked-password">Password</label>
        <input id="stacked-password" type="password" placeholder="Password">

        <label for="stacked-remember">
            <input id="stacked-remember" type="checkbox"> Remember me
        </label>

        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</section>
<h2>
    Aligned Form
</h2>
<section>
    <h1>
        To create an aligned form add the attribute <code>am-formstate</code> = <code>aligned</code> to any form.
    </h1>
</section>
<section>
    <blockquote>
        <h1>
            Aligned
        </h1>
        <p>
            <code>&lt;form am-formstate="aligned"&gt;</code>
        </p>
    </blockquote>
    <form am-formstate="aligned">
                <span>
                    <label for="stacked-email">Email</label>
                    <input id="stacked-email" type="email" placeholder="Email">
                </span>
                <span>
                    <label for="stacked-password">Password</label>
                    <input id="stacked-password" type="password" placeholder="Password">
                </span>
                <span>
                    <label for="stacked-remember">
                        <input id="stacked-remember" type="checkbox"> Remember me
                    </label>
                </span>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</section>
<h2>
    Multi-column Form
</h2>
<section>
    <h1>
        To create a multi-column form add the attribute <code>am-formstate</code> = <code>multicolumn</code> to any form.
    </h1>
</section>
<section>
    <blockquote>
        <h1>
            Multi-column
        </h1>
        <p>
            <code>&lt;form am-formstate="multicolumn"&gt;</code>
        </p>
    </blockquote>
    <form am-formstate="multicolumn">
        <div>
            <label for="stacked-email">Email</label>
            <input id="stacked-email" type="email" placeholder="Email">

            <label for="stacked-password">Password</label>
            <input id="stacked-password" type="password" placeholder="Password">
        </div>
        <div>
            <label for="stacked-email">Email</label>
            <input id="stacked-email" type="email" placeholder="Email">

            <label for="stacked-password">Password</label>
            <input id="stacked-password" type="password" placeholder="Password">
        </div>
        <div>
            <label for="stacked-email">Email</label>
            <input id="stacked-email" type="email" placeholder="Email">

            <label for="stacked-password">Password</label>
            <input id="stacked-password" type="password" placeholder="Password">
        </div>
        <label for="stacked-remember">
            <input id="stacked-remember" type="checkbox"> Remember me
        </label>

        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</section>
<h2>
    Mix & match form states
</h2>
<section>
    <h1>
        To mix & match form states add the attribute <code>am-formstate</code> = <code>value</code> for the design patterns you want to mix & match to any form.
    </h1>
</section>
<section>
    <blockquote>
        <h1>
            Stacked + Aligned
        </h1>
        <p>
            <code>&lt;form am-formstate="stacked aligned"&gt;</code>
        </p>
    </blockquote>
    <form am-formstate="stacked aligned">
        <label for="stacked-email">Email</label>
        <input id="stacked-email" type="email" placeholder="Email">

        <label for="stacked-password">Password</label>
        <input id="stacked-password" type="password" placeholder="Password">

                 <span>
                    <label for="stacked-email">Email</label>
                    <input id="stacked-email" type="email" placeholder="Email">
                </span>
                <span>
                    <label for="stacked-password">Password</label>
                    <input id="stacked-password" type="password" placeholder="Password">
                </span>
        <label for="stacked-remember">
            <input id="stacked-remember" type="checkbox"> Remember me
        </label>

        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <blockquote>
        <h1>
            Multi-column + Stacked
        </h1>
        <p>
            <code>&lt;form am-formstate="multicolumn stacked "&gt;</code>
        </p>
    </blockquote>
    <form am-formstate="multicolumn stacked ">
        <div>
            <label for="stacked-email">Email</label>
            <input id="stacked-email" type="email" placeholder="Email">

            <label for="stacked-password">Password</label>
            <input id="stacked-password" type="password" placeholder="Password">
        </div>
        <div>
            <label for="stacked-email">Email</label>
            <input id="stacked-email" type="email" placeholder="Email">

            <label for="stacked-password">Password</label>
            <input id="stacked-password" type="password" placeholder="Password">
        </div>
        <div>
            <label for="stacked-email">Email</label>
            <input id="stacked-email" type="email" placeholder="Email">

            <label for="stacked-password">Password</label>
            <input id="stacked-password" type="password" placeholder="Password">
        </div>

        <label for="stacked-email">Email</label>
        <input id="stacked-email" type="email" placeholder="Email">

        <label for="stacked-password">Password</label>
        <input id="stacked-password" type="password" placeholder="Password">

        <label for="stacked-remember">
            <input id="stacked-remember" type="checkbox"> Remember me
        </label>

        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <blockquote>
        <h1>
            Multi-column + Aligned
        </h1>
        <p>
            <code>&lt;form am-formstate="multicolumn aligned "&gt;</code>
        </p>
    </blockquote>
    <form am-formstate="multicolumn aligned">
        <div>
            <label for="stacked-email">Email</label>
            <input id="stacked-email" type="email" placeholder="Email">

            <label for="stacked-password">Password</label>
            <input id="stacked-password" type="password" placeholder="Password">
        </div>
        <div>
            <label for="stacked-email">Email</label>
            <input id="stacked-email" type="email" placeholder="Email">

            <label for="stacked-password">Password</label>
            <input id="stacked-password" type="password" placeholder="Password">
        </div>
        <div>
            <label for="stacked-email">Email</label>
            <input id="stacked-email" type="email" placeholder="Email">

            <label for="stacked-password">Password</label>
            <input id="stacked-password" type="password" placeholder="Password">
        </div>

                <span>
                    <label for="stacked-email">Email</label>
                    <input id="stacked-email" type="email" placeholder="Email">
                </span>
                <span>
                    <label for="stacked-password">Password</label>
                    <input id="stacked-password" type="password" placeholder="Password">
                </span>

        <label for="stacked-remember">
            <input id="stacked-remember" type="checkbox"> Remember me
        </label>

        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</section>
</article>

</main>
</body>
</html>