<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HTML5 Matrix</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Ambient -->
    <link rel="stylesheet" href="../less/ambient.css">
</head>
<body>
<!--- Matrix, if anything breaks it will break here --->
<header>
    <p>
        Display HTML5 document outline in multiple layouts and grids within Ambient.
    </p>
    <h1>
        <a href="../index.html" title="index">Ambient</a>
    </h1>
</header>
<hr />
<article am-layout="vertical-center">
    <h1>
        <a href="../examples/centered/index.html">Center</a>
    </h1>
</article>
<nav role="navigation" am-layout="horizontal" class="am-text-c">
    <a href="#"><strong>link</strong></a>
    <a href="#"><strong>link</strong></a>
    <a href="#"><strong>link</strong></a>
</nav>
<hr />

<aside >
    <h1>
        aside h1
    </h1>
</aside>

<main role="main" am-layout="outline">
<!--The "outline" layout attribute has been applied to display a visual outline on elements-->
<aside>
    <h1>
        aside h1
    </h1>
    <div am-image-slider am-event="slide-caption">
        <figure><!-- optional attribute to slide in for figcaption -->
            <img src="https://raw.github.com/ionlyseespots/ambient-design/master/assets/css/img/ambientLogo.png"  alt="" />
            <figcaption>
                <h2>Img</h2>
                <p>Text</p>
            </figcaption>
        </figure>
        <figure>
            <img src="http://placehold.it/350x150&text=Slide%202" alt="">
        </figure>
        <figure>
            <img src="http://placehold.it/350x150&text=Slide%203" alt="">
        </figure>
    </div>
</aside>
<article>
    <h1>
        article h1
    </h1>
    <section>
        <h1>
            section h1
        </h1>
        <aside>
            <h1>
                aside h1
            </h1>
            <nav role="navigation"  am-layout="vertical">
                <a href="#"><strong>link</strong></a>
                <a href="#"><strong>link</strong></a>
                <a href="#"><strong>link</strong></a>
            </nav>
        </aside>
        <article>
            <h1>
                article h1
            </h1>
            <section>
                <header>
                    <h1>
                        header 1
                    </h1>
                    <p>
                        Do not think of heading tags as simple titles. They define a <i>new, implicit, section</i>
                        in the <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Sections_and_Outlines_of_an_HTML5_document">document outline</a>
                        when they aren't the first heading of their parent, explicit, sections.<br />
                        <a href="http://ionlyseespots.github.io/ambient-IDE/">Ambient IDE - Document Outliner</a>
                    </p>
                    <h2>
                        header 2
                    </h2>
                    <h3>
                        header 3
                    </h3>
                </header>
                <article>
                    <h1>
                        article h1
                    </h1>
                    <section>
                        <h1>
                            section h1
                        </h1>
                    </section>
                    <aside>
                        <h1>
                            aside h1
                        </h1>
                    </aside>
                    <h2>
                        article h2
                    </h2>
                    <h3>
                        article h3
                    </h3>
                    <h4>
                        article h4
                    </h4>
                    <h5>
                        article h5
                    </h5>
                    <h6>
                        article h6
                    </h6>
                </article>
            </section>
        </article>
    </section>
    <aside>
        <h1>
            aside h1
        </h1>
        <nav role="navigation">
            <a href="#"><strong>link</strong></a>
            <a href="#"><strong>link</strong></a>
            <a href="#"><strong>link</strong></a>
        </nav>
    </aside>
</article>
    <article>
        <h1>
            article h1
        </h1>
        <section>
            <h1>
                section h1
                </h1>
                <aside>
                    <h1>
                        aside h1
                    </h1>
                    <h2>
                        aside h2
                    </h2>
                <h3>
                    aside h3
                </h3>
                <h4>
                    aside h4
                </h4>
                <h5>
                    aside h5
                </h5>
                <h6>
                    aside h6
                </h6>
            </aside>

            <article>
                <h1>
                     article h1
                </h1>
                <section>
                    <header>
                        <h1>
                            header 1
                        </h1>
                        <h2>
                            header 2
                        </h2>
                        <p>
                            header p
                        </p>
                    </header>
                    <h3>
                        heading h3
                    </h3>
                    <h4>
                        heading 4
                    </h4>
                    <h5>
                        heading 5
                    </h5>
                    <h6>
                        heading 6
                    </h6>
                    <footer>
                        <h1>
                            footer h1
                        </h1>
                        <h2>
                            footer h2
                        </h2>
                        <h3>
                            footer h3
                        </h3>
                        <h4>
                            footer h4
                        </h4>
                        <h5>
                            footer h5
                        </h5>
                        <h6>
                            footer h6
                        </h6>
                    </footer>
                </section>
                <section>
                    <h2>
                         section h1
                    </h2>
                </section>
            </article>
        </section>
        <section>
            <h1>
                section h1
            </h1>
            <article>
                <h1>
                     article h1
                </h1>
                <section>
                    <header>
                        <h1>
                            header 1
                        </h1>
                        <h2>
                            header 2
                        </h2>
                        <h3>
                            header 3
                        </h3>
                    </header>
                    <h1>
                        section h1
                    </h1>
                </section>
                <aside>
                    <h1>
                        aside h1
                    </h1>
                    <h2>
                        aside h2
                    </h2>
                    <h3>
                        aside h3
                    </h3>
                    <h4>
                        aside h4
                    </h4>
                    <footer>
                        <p>
                            aside footer p
                        </p>
                    </footer>
                </aside>
            </article>
        </section>
    </article>
    <hr />

    <article>
        <h1>
            article h1
        </h1>
        <section>
            <header>
                <h1>
                    header 1
                </h1>
            </header>
            <h2>
                section h2
            </h2>
            <footer>
                <p>
                    section footer p
                </p>
            </footer>
        </section>
        <aside>
            <h1>
                aside h1
            </h1>
        </aside>
        <aside>
            <h1>
                aside h1
            </h1>
        </aside>
        <footer>
            <p>
                article footer p
            </p>
        </footer>
    </article>
    <hr />

    <article>
        <h1>
            article h1
        </h1>
        <section>
            <h1>
                section h1
            </h1>
        </section>
        <section>
            <h1>
                section h1
            </h1>
        </section>
        <section>
            <h1>
                section h1
            </h1>
        </section>
    </article>
    <hr />

    <article>
        <h1>
            article h1
        </h1>
        <section>
            <h1>
                section h1
            </h1>
        </section>
        <section>
            <h1>
                section h1
            </h1>
        </section>
        <section>
            <h1>
                section h1
            </h1>
        </section>
        <section>
            <h1>
                section h1
            </h1>
        </section>
        <section>
            <h1>
                section h1
            </h1>
        </section>
    </article>
    <hr />

    <article>
        <h1>
            article h1
        </h1>
        <section>
            <h1>
                section h1
            </h1>
        </section>
        <section>
            <h1>
                section h1
            </h1>
        </section>
        <section>
            <h1>
                section h1
            </h1>
        </section>
        <section>
            <h1>
                section h1
            </h1>
        </section>
        <section>
            <h1>
                section h1
            </h1>
        </section>
        <section>
            <h1>
                section h1
            </h1>
        </section>
    </article>
    <hr />

    <!--<article am-layout="vertical" am-padding>-->
        <!--<h1>-->
            <!--Grids-->
        <!--</h1>-->
        <!--<p>-->
            <!--This article makes use of the <code>am-layout="vertical"</code> to layout sections vertical and <code>am-row</code> & <code>am-column</code> layout attributes for a grid.-->
        <!--</p>-->
        <!--<section am-row>-->
            <!--<h1>-->
                <!--am-col-->
            <!--</h1>-->
            <!--<div am-col>-->
                <!--1-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--2-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--3-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--4-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--5-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--6-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--7-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--8-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--9-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--10-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--11-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--12-->
            <!--</div>-->
        <!--</section>-->
        <!--<section>-->
            <!--<h1>-->
                <!--am-row + am-col-->
            <!--</h1>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1/2-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/2-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1/3-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/3-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/3-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
            <!--</div>-->
            <!--<h2>-->
                <!--Offset-->
            <!--</h2>-->
            <!--<div am-row>-->
                <!--<div am-col="66">-->
                    <!--2/3-->
                <!--</div>-->
                <!--<div am-col="33">-->
                    <!--1/3-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col="33">-->
                    <!--1/3-->
                <!--</div>-->
                <!--<div am-col="66" >-->
                    <!--2/3-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col="75">-->
                    <!--3/4-->
                <!--</div>-->
                <!--<div am-col="25">-->
                    <!--1/4-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col="25">-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col="75" >-->
                    <!--3/4-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->
        <!--<section am-row="gutter margin">-->
            <!--<h1>-->
                <!--am-col-->
            <!--</h1>-->
            <!--<h2>-->
                <!--Gutter margin-->
            <!--</h2>-->
            <!--<div am-col>-->
                <!--1-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--2-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--3-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--4-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--5-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--6-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--7-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--8-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--9-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--10-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--11-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--12-->
            <!--</div>-->
        <!--</section>-->
        <!--<section>-->
            <!--<h1>-->
                <!--am-row + am-col-->
            <!--</h1>-->
            <!--<h2>-->
                <!--Row gutter margin-->
            <!--</h2>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1/2-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/2-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1/3-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/3-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/3-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row="gutter margin">-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->

        <!--<section am-layout="gutter margin">-->
            <!--<h1>-->
                <!--am-row + am-col-->
            <!--</h1>-->
            <!--<h2>-->
                <!--Layout gutter margin-->
            <!--</h2>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1/2-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/2-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1/3-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/3-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/3-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
            <!--</div>-->
            <!--<h2>-->
                <!--Offset-->
            <!--</h2>-->
            <!--<div am-row>-->
                <!--<div am-col="66">-->
                    <!--2/3-->
                <!--</div>-->
                <!--<div am-col="33">-->
                    <!--1/3-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col="33">-->
                    <!--1/3-->
                <!--</div>-->
                <!--<div am-col="66" >-->
                    <!--2/3-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col="75">-->
                    <!--3/4-->
                <!--</div>-->
                <!--<div am-col="25">-->
                    <!--1/4-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col="25">-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col="75" >-->
                    <!--3/4-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->
        <!--<section am-row="gutter padding">-->
            <!--<h1>-->
                <!--am-col-->
            <!--</h1>-->
            <!--<h2>-->
                <!--Gutter padding-->
            <!--</h2>-->
            <!--<div am-col>-->
                <!--1-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--2-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--3-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--4-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--5-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--6-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--7-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--8-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--9-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--10-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--11-->
            <!--</div>-->
            <!--<div am-col>-->
                <!--12-->
            <!--</div>-->
        <!--</section>-->
        <!--<section>-->
            <!--<h1>-->
                <!--am-row + am-col-->
            <!--</h1>-->
            <!--<h2>-->
                <!--Row gutter padding-->
            <!--</h2>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1/2-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/2-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1/3-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/3-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/3-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row="gutter padding">-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->

        <!--<section am-layout="gutter padding">-->
            <!--<h1>-->
                <!--am-row + am-col-->
            <!--</h1>-->
            <!--<h2>-->
                <!--Layout gutter padding-->
            <!--</h2>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1/2-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/2-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1/3-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/3-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/3-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col>-->
                    <!--1/4-->
                <!--</div>-->
            <!--</div>-->
            <!--<h2>-->
                <!--Offset-->
            <!--</h2>-->
            <!--<div am-row>-->
                <!--<div am-col="66">-->
                    <!--2/3-->
                <!--</div>-->
                <!--<div am-col="33">-->
                    <!--1/3-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col="33">-->
                    <!--1/3-->
                <!--</div>-->
                <!--<div am-col="66" >-->
                    <!--2/3-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col="75">-->
                    <!--3/4-->
                <!--</div>-->
                <!--<div am-col="25">-->
                    <!--1/4-->
                <!--</div>-->
            <!--</div>-->
            <!--<div am-row>-->
                <!--<div am-col="25">-->
                    <!--1/4-->
                <!--</div>-->
                <!--<div am-col="75" >-->
                    <!--3/4-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->
    <!--</article>-->
<article am-padding>
    <div am-block>
        <div am-block="1"><p></p></div>
        <div am-block="1"><p></p></div>
        <div am-block="1"><p></p></div>
        <div am-block="1"><p></p></div>
        <div am-block="1"><p></p></div>
        <div am-block="1"><p></p></div>
        <div am-block="1"><p></p></div>
        <div am-block="1"><p></p></div>
        <div am-block="1"><p></p></div>
        <div am-block="1"><p></p></div>
        <div am-block="1"><p></p></div>
        <div am-block="1"><p></p></div>
    </div>
    <hr />

    <div am-block>
        <div am-block="1"><p></p></div>
        <div am-block="11"><p></p></div>
    </div>
    <div am-block>
        <div am-block="2"><p></p></div>
        <div am-block="10"><p></p></div>
    </div>
    <div am-block>
        <div am-block="3"><p></p></div>
        <div am-block="9"><p></p></div>
    </div>
    <div am-block>
        <div am-block="4"><p></p></div>
        <div am-block="8"><p></p></div>
    </div>
    <div am-block>
        <div am-block="5"><p></p></div>
        <div am-block="7"><p></p></div>
    </div>
    <div am-block>
        <div am-block="6"><p></p></div>
        <div am-block="6"><p></p></div>
    </div>
    <div am-block>
        <div am-block="7"><p></p></div>
        <div am-block="5"><p></p></div>
    </div>
    <div am-block>
        <div am-block="8"><p></p></div>
        <div am-block="4"><p></p></div>
    </div>
    <div am-block>
        <div am-block="9"><p></p></div>
        <div am-block="3"><p></p></div>
    </div>
    <div am-block>
        <div am-block="10"><p></p></div>
        <div am-block="2"><p></p></div>
    </div>
    <div am-block>
        <div am-block="11"><p></p></div>
        <div am-block="1"><p></p></div>
    </div>
    <hr />

    <div am-block>
        <div am-block="2"><p></p></div>
        <div am-block="10"><p></p></div>
    </div>
    <hr />

    <div am-block>
        <div am-block="10"><p></p></div>
        <div am-block="2"><p></p></div>
    </div>
    <hr />

    <div am-block>
        <div am-block="8" am-padding>
            <div am-block>
                <div am-block="4"><p></p></div>
                <div am-block="8"><p></p></div>
            </div>
        </div>
        <div am-block="2"><p></p></div>
        <div am-block="2"><p></p></div>
    </div>
    <hr />

</article>
<article am-padding>
    <h1>
        Tables
    </h1>
    <table am-layout>
        <caption>
            My table caption
            <details>
                <summary>Details summary</summary>
                <p>
                    Example for a simple table
                </p>
            </details>
        </caption>
        <thead>
        <tr>
            <th scope="col" colspan="2">Item</th>
            <th scope="col">Qty</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td data-title="Item">
                <strong>Don&#8217;t Make Me Think</strong>
                <a href="">by Steve Krug</a>
            </td>
            <td>In Stock</td>
            <td data-title="qty">1</td>
            <td data-title="price">$30.02</td>
        </tr>
        <tr>
            <td data-title="item">
                <strong>A Project Guide to UX Design</strong>
                <span>by Russ Unger &#38; Carolyn Chandler</span>
            </td>
            <td>In Stock</td>
            <td data-title="quantity">2</td>
            <td data-title="price">$52.94 <span>$26.47 &#215; 2</span></td>
        </tr>
        <tr>
            <td data-title="item">
                <strong>Introducing HTML5</strong>
                <span>by Bruce Lawson &#38; Remy Sharp</span>
            </td>
            <td>Out of Stock</td>
            <td data-title="qty">1</td>
            <td data-title="price">$22.23</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td>$148.90</td>
        </tr>
        </tfoot>
    </table>
    <table am-layout="zebra-stripe">
        <caption>
            My table caption
            <details>
                <summary>Details summary</summary>
                <p>
                    Example for a complex table
                </p>
            </details>
        </caption>
        <thead>
        <tr>
            <th scope="col" colspan="2">Column header: Item</th>
            <th scope="col">Column header:  Qty</th>
            <th scope="col">Column header:  Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="rowgroup" colspan="4">
                Row Group
            </th>
        </tr>
        <tr>
            <td data-title="Item">
                <strong>Don&#8217;t Make Me Think</strong>
                <a href="">by Steve Krug</a>
            </td>
            <td>In Stock</td>
            <td data-title="qty">1</td>
            <td data-title="price">$30.02</td>
        </tr>
        <tr>
            <td data-title="item">
                <strong>A Project Guide to UX Design</strong>
                <span>by Russ Unger &#38; Carolyn Chandler</span>
            </td>
            <td>In Stock</td>
            <td data-title="quantity">2</td>
            <td data-title="price">$52.94 <span>$26.47 &#215; 2</span></td>
        </tr>
        <tr>
            <td data-title="item">
                <strong>Introducing HTML5</strong>
                <span>by Bruce Lawson &#38; Remy Sharp</span>
            </td>
            <td>Out of Stock</td>
            <td data-title="qty">1</td>
            <td data-title="price">$22.23</td>
        </tr>
        <tr>
            <td data-title="item">
                <strong>Bulletproof Web Design</strong>
                <span>by Dan Cederholm</span>
            </td>
            <td>In Stock</td>
            <td data-title="qty">1</td>
            <td data-title="price">$30.17</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <th scope="rowgroup" colspan="4">
                Row Group
            </th>
        </tr>
        <tr>
            <th scope="row">Row header: Whiskey</th>
            <td>Cell b1</td>
            <td>Cell c1</td>
            <td>Cell d1</td>
        </tr>
        <tr>
            <th scope="row">Row header: Ghost</th>
            <td>Cell b2</td>
            <td>Cell c2</td>
            <td>Cell d2</td>
        </tr>
        <tr>
            <td data-title="Item">
                <strong>Don&#8217;t Make Me Think</strong>
                <a href="">by Steve Krug</a>
            </td>
            <td>In Stock</td>
            <td data-title="qty">1</td>
            <td data-title="price">$30.02</td>
        </tr>
        <tr>
            <td data-title="item">
                <strong>A Project Guide to UX Design</strong>
                <span>by Russ Unger &#38; Carolyn Chandler</span>
            </td>
            <td>In Stock</td>
            <td data-title="quantity">2</td>
            <td data-title="price">$52.94 <span>$26.47 &#215; 2</span></td>
        </tr>
        </tbody>

        <tbody>
        <tr>
            <th scope="colgroup" colspan="2" rowspan="2">Column Group</th>
            <th scope="colgroup" colspan="2">Column Group</th>

        </tr>
        <tr>
            <th scope="col">Col a</th>
            <th scope="col">Col b</th>

        </tr>
        <tr>
            <th scope="rowgroup" rowspan="2">Row 1</th>
            <th scope="row">Row 1-1</th>
            <td>Cell a-1-1</td>
            <td>Cell b-1-1</td>

        </tr>
        <tr>
            <th scope="row">Row 1-2</th>
            <td>Cell a-1-2</td>
            <td>Cell b-1-2</td>

        </tr>
        <tr>
            <th scope="rowgroup" rowspan="2">Row 2</th>
            <th scope="row">Row 2-1</th>
            <td>Cell a-2-1</td>
            <td>Cell b-2-1</td>

        </tr>
        <tr>
            <th scope="row">Row 2-2</th>
            <td>Cell a-2-2</td>
            <td>Cell b-2-2</td>

        </tr>
        </tbody>


        <tfoot>
        <tr>
            <td colspan="3">Subtotal</td>
            <td>$135.36</td>
        </tr>
        <tr>
            <td colspan="3">Tax</td>
            <td>$13.54</td>
        </tr>
        <tr>
            <td colspan="3">Total</td>
            <td>$148.90</td>
        </tr>
        </tfoot>
    </table>
</article>

</main>
<footer>
    <h1>
        footer
    </h1>
</footer>
</body>
</html>

