<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HTML5 Matrix</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Ambient -->
    <link rel="stylesheet" href="../less/ambient.css">
</head>
<body>
<!--- Matrix, if anything breaks it will break here --->
<header>
    <p>
        Display / test multiple layouts for HTML5
    </p>
    <h1>
        <a href="../index.html" title="index">header h1</a>
    </h1>
</header>
<hr />

<nav role="navigation" am-layout="horizontal">
    <h1>
        Nav h1
    </h1>
    <a href="#"><strong>link</strong></a>
    <a href="#"><strong>link</strong></a>
    <a href="#"><strong>link</strong></a>
</nav>
<hr />

<aside >
    <h1>
        aside h1
    </h1>
</aside>

<main role="main" am-layout="outline">
<aside>
    <h1>
        aside h1
    </h1>
</aside>
<article>
<h1>
    article h1
</h1>
    <aside>
        <h1>
            aside h1
        </h1>
        <nav role="navigation" am-layout="vertical">
            <h1>
                Nav h1
            </h1>
            <a href="#"><strong>link</strong></a>
            <a href="#"><strong>link</strong></a>
            <a href="#"><strong>link</strong></a>
        </nav>
    </aside>
    <section>
        <h1>
            section h1
        </h1>
        <aside>
            <h1>
                aside h1
            </h1>
            <nav role="navigation" am-layout="horizontal">
                <h1>
                    Nav h1
                </h1>
                <a href="#"><strong>link</strong></a>
                <a href="#"><strong>link</strong></a>
                <a href="#"><strong>link</strong></a>
            </nav>
        </aside>
        <article>
            <h1>
                article h1
            </h1>
            <section>
                <header>
                    <h1>
                        heading h1
                    </h1>
                    <p>
                        Do not think of heading tags as simple titles. They define a <i>new, implicit, section</i>
                        in the <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Sections_and_Outlines_of_an_HTML5_document">document outline</a>
                        when they aren't the first heading of their parent, explicit, sections.
                    </p>
                    <p>
                        Think of <code>h1-h6</code> as dividers, or labels for the content below it. The content is defined by the heading, the heading does not end at the <code>/</code> it ends when it defines a new implicit section.
                       <br />
                        <a href="http://ionlyseespots.github.io/ambient-IDE/">Ambient IDE - Document Outliner</a>
                    </p>
                    <h2>
                        heading h2
                    </h2>
                    <h3>
                        heading h3
                    </h3>
                </header>
                <article>
                    <h1>
                        article h1
                    </h1>
                    <section>
                        <h1>section h1</h1>
                    </section>
                    <aside>
                        <h1>aside h1</h1>
                    </aside>
                    <aside>
                        <h1>aside h1</h1>
                    </aside>
                    <aside>
                        <h1>aside h1</h1>
                    </aside>
                    <h4>
                        article h4
                    </h4>
                    <h2>
                        article h2
                    </h2>
                    <h5>
                        article h5
                    </h5>
                    <h6>
                        article h6
                    </h6>
                </article>

            </section>
        </article>
    </section>

</article>








    <article>
        <h1>
            article heading h1
        </h1>
        <section>
            <h1>
                section h1
            </h1>
            <aside>
                <h1>
                    aside h1
                </h1>
                <h2>
                    aside h2
                </h2>
                <h3>
                    aside h3
                </h3>
                <h4>
                    aside h4
                </h4>
                <h5>
                    aside h5
                </h5>
                <h6>
                    aside h6
                </h6>
            </aside>
            <aside>
                <h1>
                    aside h1
                </h1>
                <h2>
                    aside h2
                </h2>
                <h3>
                    aside h3
                </h3>
                <h4>
                    aside h4
                </h4>
                <h5>
                    aside h5
                </h5>
                <h6>
                    aside h6
                </h6>
            </aside>
            <article>
                <h1>
                     Article h1
                </h1>
                <section>
                    <heading>
                        <h1>
                            heading 1 h1
                        </h1>
                        <h2>
                            Heading header h2
                        </h2>
                        <h3>
                            Heading h3
                        </h3>
                        <article>
                            <h1>
                                  header 1
                            </h1>
                            <section>
                                <h1>
                                      section header 1
                                </h1>
                            </section>
                            <section>
                                <h1>
                                      section header 1
                                </h1>
                            </section>
                        </article>
                        <h4>
                            Heading header 4
                        </h4>
                        <h5>
                            Heading header 5
                        </h5>
                        <h6>
                            Heading header 6
                        </h6>
                    </heading>
                    <h2>
                         Section H1
                    </h2>
                    <footer>
                        <h1>
                            Footer Header 1
                        </h1>
                        <h2>
                            footer Header 2
                        </h2>
                        <h3>
                            Header 3
                        </h3>
                        <h4>
                            Header 4
                        </h4>
                        <h5>
                            Header 5
                        </h5>
                        <h6>
                            Header 6
                        </h6>
                    </footer>
                </section>
                <section>
                    <h2>
                         Section H1
                    </h2>
                </section>
            </article>
        </section>
        <section>
            <h1>
                section 2 H1
            </h1>
            <article>
                <h1>
                     Article H1
                </h1>
                <section>
                    <heading>
                        <h1>
                            Heading header 1
                        </h1>
                        <h2>
                            Heading header 2
                        </h2>
                        <h3>
                            Heading header 3
                        </h3>
                        <h4>
                            Heading header 4
                        </h4>
                    </heading>
                </section>
                <aside>
                    <h1>
                        Aside
                    </h1>
                    <h2>
                        Header 2
                    </h2>
                    <h3>
                        Header 3
                    </h3>
                    <h4>
                        Header 4
                    </h4>
                    <footer>
                        <h1>
                            Header 1
                        </h1>
                    </footer>
                </aside>
        </section>
    </article>
    <hr />

    <article>
        <h1>
            Article H1
        </h1>
        <section>
            <header>
                <h1>
                    Section Header H1
                </h1>
            </header>
            <h2>
                Section H2
            </h2>
            <footer>
                <p>
                    Section Footer
                </p>
            </footer>
        </section>
        <aside>
            <h1>
                Aside
            </h1>
        </aside>
        <aside>
            <h1>
                Aside
            </h1>
        </aside>
        <footer>
            <p>
                Article Footer
            </p>
        </footer>
    </article>
    <hr />

    <article>
        <h1>
            Article H1
        </h1>
        <section>
            <h1>
                Section H1
            </h1>
        </section>
        <section>
            <h1>
                Section H1
            </h1>
        </section>
        <section>
            <h1>
                Section H1
            </h1>
        </section>
        <section>
            <h1>
                Section H1
            </h1>
        </section>
    </article>
    <hr />

    <article>
        <h1>
            Article H1
        </h1>
        <section>
            <h1>
                Section H1
            </h1>
        </section>
        <section>
            <h1>
                Section H1
            </h1>
        </section>
        <section>
            <h1>
                Section H1
            </h1>
        </section>
        <section>
            <h1>
                Section H1
            </h1>
        </section>
        <section>
            <h1>
                Section H1
            </h1>
        </section>
    </article>
    <hr />

    <article>
        <h1>Article H1</h1>
        <section>
            <h1>
                Section H1
            </h1>
        </section>
        <section>
            <h1>
                Section H1
            </h1>
        </section>
        <section>
            <h1>
                Section H1
            </h1>
        </section>
        <section>
            <h1>
                Section H1
            </h1>
        </section>
        <section>
            <h1>
                Section H1
            </h1>
        </section>
        <section>
            <h1>
                Section H1
            </h1>
        </section>
    </article>
    <hr />

    <article am-layout="vertical" am-padding>
        <h1>
            Grids
        </h1>
        <section am-row>
            <h1>
                am-col
            </h1>
            <div am-col>
                1
            </div>
            <div am-col>
                2
            </div>
            <div am-col>
                3
            </div>
            <div am-col>
                4
            </div>
            <div am-col>
                5
            </div>
            <div am-col>
                6
            </div>
            <div am-col>
                7
            </div>
            <div am-col>
                8
            </div>
            <div am-col>
                9
            </div>
            <div am-col>
                10
            </div>
            <div am-col>
                11
            </div>
            <div am-col>
                12
            </div>
        </section>
        <section>
            <h1>
                am-row + am-col
            </h1>
            <div am-row>
                <div am-col>
                    1
                </div>
            </div>
            <div am-row>
                <div am-col>
                    1/2
                </div>
                <div am-col>
                    1/2
                </div>
            </div>
            <div am-row>
                <div am-col>
                    1/3
                </div>
                <div am-col>
                    1/3
                </div>
                <div am-col>
                    1/3
                </div>
            </div>
            <div am-row>
                <div am-col>
                    1/4
                </div>
                <div am-col>
                    1/4
                </div>
                <div am-col>
                    1/4
                </div>
                <div am-col>
                    1/4
                </div>
            </div>
        </section>
        <section am-row="gutter margin">
            <h1>
                am-col
            </h1>
            <h2>
                Gutter margin
            </h2>
            <div am-col>
                1
            </div>
            <div am-col>
                2
            </div>
            <div am-col>
                3
            </div>
            <div am-col>
                4
            </div>
            <div am-col>
                5
            </div>
            <div am-col>
                6
            </div>
            <div am-col>
                7
            </div>
            <div am-col>
                8
            </div>
            <div am-col>
                9
            </div>
            <div am-col>
                10
            </div>
            <div am-col>
                11
            </div>
            <div am-col>
                12
            </div>
        </section>
        <section>
            <h1>
                am-row + am-col
            </h1>
            <h2>
                Row gutter margin
            </h2>
            <div am-row>
                <div am-col>
                    1
                </div>
            </div>
            <div am-row>
                <div am-col>
                    1/2
                </div>
                <div am-col>
                    1/2
                </div>
            </div>
            <div am-row>
                <div am-col>
                    1/3
                </div>
                <div am-col>
                    1/3
                </div>
                <div am-col>
                    1/3
                </div>
            </div>
            <div am-row="gutter margin">
                <div am-col>
                    1/4
                </div>
                <div am-col>
                    1/4
                </div>
                <div am-col>
                    1/4
                </div>
                <div am-col>
                    1/4
                </div>
            </div>
        </section>

        <section am-layout="gutter margin">
            <h1>
                am-row + am-col
            </h1>
            <h2>
                Layout gutter margin
            </h2>
            <div am-row>
                <div am-col>
                    1
                </div>
            </div>
            <div am-row>
                <div am-col>
                    1/2
                </div>
                <div am-col>
                    1/2
                </div>
            </div>
            <div am-row>
                <div am-col>
                    1/3
                </div>
                <div am-col>
                    1/3
                </div>
                <div am-col>
                    1/3
                </div>
            </div>
            <div am-row="gutter margin">
                <div am-col>
                    1/4
                </div>
                <div am-col>
                    1/4
                </div>
                <div am-col>
                    1/4
                </div>
                <div am-col>
                    1/4
                </div>
            </div>
        </section>
        <section am-row="gutter padding">
            <h1>
                am-col
            </h1>
            <h2>
                Gutter padding
            </h2>
            <div am-col>
                1
            </div>
            <div am-col>
                2
            </div>
            <div am-col>
                3
            </div>
            <div am-col>
                4
            </div>
            <div am-col>
                5
            </div>
            <div am-col>
                6
            </div>
            <div am-col>
                7
            </div>
            <div am-col>
                8
            </div>
            <div am-col>
                9
            </div>
            <div am-col>
                10
            </div>
            <div am-col>
                11
            </div>
            <div am-col>
                12
            </div>
        </section>
        <section>
            <h1>
                am-row + am-col
            </h1>
            <h2>
                Row gutter padding
            </h2>
            <div am-row>
                <div am-col>
                    1
                </div>
            </div>
            <div am-row>
                <div am-col>
                    1/2
                </div>
                <div am-col>
                    1/2
                </div>
            </div>
            <div am-row>
                <div am-col>
                    1/3
                </div>
                <div am-col>
                    1/3
                </div>
                <div am-col>
                    1/3
                </div>
            </div>
            <div am-row="gutter padding">
                <div am-col>
                    1/4
                </div>
                <div am-col>
                    1/4
                </div>
                <div am-col>
                    1/4
                </div>
                <div am-col>
                    1/4
                </div>
            </div>
        </section>

        <section am-layout="gutter padding">
            <h1>
                am-row + am-col
            </h1>
            <h2>
                Layout gutter padding
            </h2>
            <div am-row>
                <div am-col>
                    1
                </div>
            </div>
            <div am-row>
                <div am-col>
                    1/2
                </div>
                <div am-col>
                    1/2
                </div>
            </div>
            <div am-row>
                <div am-col>
                    1/3
                </div>
                <div am-col>
                    1/3
                </div>
                <div am-col>
                    1/3
                </div>
            </div>
            <div am-row="gutter padding">
                <div am-col>
                    1/4
                </div>
                <div am-col>
                    1/4
                </div>
                <div am-col>
                    1/4
                </div>
                <div am-col>
                    1/4
                </div>
            </div>
        </section>
    </article>
</main>

<footer>
   <p>Main (sticky) Footer</p>
</footer>
</body>
</html>

