<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ambient semantic scaffolding</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Ambient -->
    <link rel="stylesheet" href="../less/ambient.min.css">
</head>
<body>
<!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<header>
    <h1>
        <a href="../index.html" title="index">Ambient</a>
    </h1>
</header>
<nav role="navigation" am-layout="horizontal">
    <a href="../docs/index.html">Getting Started</a>
    <a href="../layout/index.html" class="am-active">Semantic</a>
    <a href="../design-patterns/index.html">Layout</a>
    <a href="https://github.com/ionlyseespots/ambient-design">GitHub</a>
</nav>
<main role="main">
    <header class="am-primary" am-padding>
        <p>
            Overview<br />
            Introduction | Scaffolding | Build the intent of your content
        </p>
        <h1>
            Semantic scaffolding
        </h1>
    </header>
    <article>
        <header am-padding="large" am-layer="z-1" class="am-secondary">
            <p>
                Introduction
            </p>
            <h2>
                <i class="fa fa-html5"></i> Ambient is semantic
            </h2>
            <p>
                Ambient make use of HTML5 sections & outlines for semantic scaffolding.
            </p>
        </header>
        <section am-padding>
            <h3>
                Scaffolding
            </h3>
            <p>
                On orientation portrait, explicit sections will automatically stack.
            </p>
            <blockquote>
                <p>
                    Do use HTML5 sectioning elements to build the intent of content in the document outline.<br />
                    Do <strong>NOT</strong> use HTML5 sectioning elements as a replacement for content better suited to a <code>div</code>.
                </p>
            </blockquote>
            <p data-height="545" data-theme-id="11491" data-slug-hash="gbmJRP" data-default-tab="result" data-user="ionlyseespots" class='codepen'>See the Pen <a href='http://codepen.io/ionlyseespots/pen/gbmJRP/'>Idea for flexbox HTML5 scaffolding & layout attributes</a> by I only see spots (<a href='http://codepen.io/ionlyseespots'>@ionlyseespots</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
            <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
        </section>
        <section am-padding>
            <h3>
                Build the intent of your content
            </h3>
            <p>
                Back to basics. Feel free to use HTML5 semantic elements to build your content in the <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Sections_and_Outlines_of_an_HTML5_document">document outline</a>.
            </p>
            <p>
                You can add additional <code>am-layout</code> values as well as extend child attributes <code>am-SOMETHING</code> to your scaffolding to gradually build a hierarchy that defines your layout.
            </p>
            <blockquote cite="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Sections_and_Outlines_of_an_HTML5_document">
                <h3>
                    Explicit
                </h3>
                <p>
                    All content lying inside the <code>body</code> element is part of a section. Sections in HTML5 can be nested. Beside the main section, defined by the <code>body</code> element, section limits are defined either explicitly or implicitly. Explicitly-defined sections are:
                </p>
            </blockquote>
            <table>
                <thead>
                <tr>
                    <th scope="col">HTML5</th>
                    <th scope="col">Scaffolding</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>body</td>
                    <td>column</td>
                    <td>Represents the content of an HTML document.</td>
                </tr>
                <tr>
                    <td>header</td>
                    <td>row</td>
                    <td>Defines the header for a page or section.</td>
                </tr>
                <tr>
                    <td>nav</td>
                    <td>row</td>
                    <td>Defines navigation links.</td>
                </tr>
                <tr>
                    <td>article</td>
                    <td>row</td>
                    <td>Represents self-contained content that could be distributed outside the context of the page.
                        Defines content sections in a single direction, vertically or horizontally.
                        You can specify the layout direction with the <code>am-layout</code> attribute. The default orientation is horizontal.</td>
                </tr>
                <tr>
                    <td>section</td>
                    <td>column</td>
                    <td>Represents a content section.</td>
                </tr>
                <tr>
                    <td>aside</td>
                    <td>column</td>
                    <td>Represents a content section tangentially related to the content surrounding it.</td>
                </tr>
                <tr>
                    <td>footer</td>
                    <td>row</td>
                    <td>Defines the footer for a page or section.</td>
                </tr>
                </tbody>
            </table>
            <blockquote cite="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Sections_and_Outlines_of_an_HTML5_document">
                <h3>
                    Implicit
                </h3>
                <p>
                    The HTML Headings Elements (h1 to h6) defines a new, implicit, section when they aren't the first heading of their parent, explicit, sections. The way this implicit section is positioned in the outline is defined by its relative rank with the previous heading in their parent section. If it is of a lower rank than the previous heading, it opens a implicit sub-section of the section.     </p>
            </blockquote>
            <table>
                <thead>
                <tr>
                    <th scope="col">HTML5</th>
                    <th scope="col">Scaffolding</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <code>
                            &lt;h1&gt;
                            &lt;h2&gt
                            &lt;h3&gt;
                            &lt;h4&gt;
                            &lt;h5&gt;
                            &lt;h6&gt;
                        </code>
                    </td>
                    <td>Row</td>
                    <td>Briefly describes the topic of the section it introduces.</td>
                </tr>
                </tbody>
            </table>
            </section>
    </article>
    <article class="am-secondary" am-padding>
        <h1>
            Ambient is a lightweight and modular HTML5 UI development methodology.
        </h1>
        <p>
            This system evolved out of the need to fully decouple markup (HTML) from presentation (CSS).
        </p>
    </article>
</main>
<footer am-padding="large" class="am-text-center">
    <p>
        Ambient makes use of HTML5 elements & CSS3 properties to layout the document outline.<br />
        <a href="https://github.com/ionlyseespots/ambient-design"><i class="fa fa-github fa-3x"></i></a>
        <a href="https://twitter.com/av8boogie"><i class="fa fa-twitter fa-3x"></i></a>
    </p>
</footer>
</body>
</html>