<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Ambient semantic grid documentation</title>
    <!-- Ambient -->
    <link rel="stylesheet" href="../dist/css//ambient.min.css">
    <!-- website -->
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
<header>
    <h1>
        <a href="../index.html" title="index">Ambient</a>
        <a href="https://twitter.com/av8boogie" class="pull-right"><i class="fa fa-twitter"></i></a>
    </h1>
</header>
<hr />

<nav role="navigation">
    <a href="../docs/index.html"><strong>Getting Started</strong></a>
    <a href="#" class="active"><strong>Semantic Grid</strong></a>
    <a href="../design-patterns/index.html"><strong>Design Patterns</strong></a>
    <a href="https://github.com/ionlyseespots/ambient-design"><strong>GitHub</strong></a>
</nav>
<hr />

<main role="main">
    <h1>
        Semantic grid
    </h1>
    <h2>
        Overview
    </h2>
    <p>
        Semantic grid | Grid examples - HTML5/CSS3 definitions
    </p>
    <article>
        <h1>
            Ambient is a semantic grid system.
        </h1>
        <p>
            Ambient allows developers to focus on HTML to convey visual structure and designers can focus on extending design patterns for content.
        </p>
        <h2>
            Introduction
        </h2>
        <p>
            Ambient makes use of HTML5 elements & CSS3 properties to convey structure within a semantic grid. The semantic grid is a <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes">CSS3 flexbox</a> layout that is defined by <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">HTML5</a> elements.
            Here's how the Ambient semantic grid works:
        </p>
        <section class="content-padding-small">
        <h1>
            <i class="fa fa-th"></i> Grid examples
        </h1>
        <p>
            Basic examples to get you familiar with the Ambient semantic grid.
        </p>
            <article am-uxshell="display-grid">
                <h1>
                    Three equal columns
                </h1>
                <p>
                    Get three equal-width columns <strong>starting at orientation portrait and scaling to orientation landscape</strong>. On orientation portrait, the columns will automatically stack.
                </p>
                <p>
                    Equal columns make use of the <code>&lt;section&gt;</code> element and defines a section in a document.
                </p>
                <section>
                    <p>
                        1
                    </p>
                </section>
                <section>
                    <p>
                        2
                    </p>
                </section>
                <section>
                    <p>
                        3
                    </p>
                </section>
                <footer>
                    <pre><code>
&lt;article&gt;
    &lt;section&gt;
        &lt;p&gt;
            1
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;p&gt;
            2
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;p&gt;
            3
        &lt;/p&gt;
    &lt;/section&gt;
&lt;/article&gt;
                    </code></pre>
                </footer>
            </article>
            <article am-uxshell="display-grid">
                <h1>
                    Three unequal columns
                </h1>
                <p>
                    Get three unequal columns <strong>starting at orientation portrait and scaling to orientation landscape</strong>. On orientation portrait, the columns will automatically stack.
                </p>
                <p>
                    Remember, unequal grid columns are prescribed by the Pareto principle widths of 80/20 and 20/60/20. Unequal columns make use of the <code>&lt;aside&gt;</code> and <code>&lt;section&gt;</code> elements.
                </p>
                <aside>
                    <p>
                        1/4
                    </p>
                </aside>
                <section>
                    <p>
                        1/2
                    </p>
                </section>
                <aside>
                    <p>
                        1/4
                    </p>
                </aside>
                <footer>
                    <pre><code>
&lt;article&gt;
    &lt;aside&gt;
        &lt;p&gt;
            1/4
        &lt;/p&gt;
    &lt;/aside&gt;
    &lt;section&gt;
        &lt;p&gt;
            1/2
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;aside&gt;
        &lt;p&gt;
            1/4
        &lt;/p&gt;
    &lt;/aside&gt;
&lt;/article&gt;
                    </code></pre>
                </footer>
            </article>
            <article am-uxshell="display-grid">
                <h1>
                    Two unequal columns with content on the left
                </h1>
                <p>
                    Get two unequal columns <strong>starting at orientation portrait and scaling to orientation landscape</strong>. On orientation portrait, the columns will automatically stack.
                </p>
                <p>
                    Remember, unequal grid columns are prescribed by the Pareto principle widths of 80/20 and 20/60/20. Unequal columns make use of the <code>&lt;aside&gt;</code> and <code>&lt;section&gt;</code> elements.
                </p>
                <section>
                    <p>
                        3/4
                    </p>
                </section>
                <aside>
                    <p>
                        1/4
                    </p>
                </aside>
                <footer>
                    <pre><code>
&lt;article&gt;
    &lt;section&gt;
        &lt;p&gt;
            3/4
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;aside&gt;
        &lt;p&gt;
            1/4
        &lt;/p&gt;
    &lt;/aside&gt;
&lt;/article&gt;
                    </code></pre>
                </footer>
            </article>
            <article am-uxshell="display-grid">
                <h1>
                    Two unequal columns with content on the right
                </h1>
                <p>
                    Get two unequal columns <strong>starting at orientation portrait and scaling to orientation landscape</strong>. On orientation portrait, the columns will automatically stack.
                </p>
                <p>
                    Remember, unequal grid columns are prescribed by the Pareto principle widths of 80/20 and 20/60/20. Unequal columns make use of the <code>&lt;aside&gt;</code> and <code>&lt;section&gt;</code> elements.
                </p>
                <aside>
                    <p>
                        1/4
                    </p>
                </aside>
                <section>
                    <p>
                        3/4
                    </p>
                </section>
                <footer>
                    <pre><code>
&lt;article&gt;
    &lt;aside&gt;
        &lt;p&gt;
            1/4
        &lt;/p&gt;
    &lt;/aside&gt;
    &lt;section&gt;
        &lt;p&gt;
            3/4
        &lt;/p&gt;
    &lt;/section&gt;
&lt;/article&gt;
                    </code></pre>
                </footer>
            </article>
            <article am-uxshell="display-grid">
                <h1>
                    Full width, single column
                </h1>
                <p>
                    An <code>&lt;article&gt;</code> displays full width by default and defines self-contained content that could exist independently of the rest of the content.
                </p>
                <section>
                    <p>
                        Alternatively, a single <code>&lt;section&gt;</code> also displays full width by default and defines a section in the document.
                    </p>
                </section>
                <footer>
                    <pre><code>
&lt;article&gt;
    &lt;section&gt;
        &lt;p&gt;
            Alternatively, a single <code>&lt;section&gt;</code> also displays full width by default and defines a section in the document.
        &lt;/p&gt;
    &lt;/section&gt;
&lt;/article&gt;
                    </code></pre>
                </footer>
            </article>
            <article am-uxshell="display-grid">
                <h1>
                    Two equal columns with two nested equal columns
                </h1>
                <p>
                    Infinite nesting gives you columns <strong>starting at orientation portrait and scaling to orientation landscape</strong>, within the larger column. Nesting makes use of the <code>&lt;article&gt;</code> and <code>section</code> elements.
                </p>
                <p>
                    On orientation portrait, the columns will automatically stack.
                </p>
                <section>
                    <h1>
                        Section H1
                    </h1>
                    <p>
                        1
                    </p>
                    <article>
                        <h1>
                            Nested Article H1
                        </h1>
                        <section>
                            <h1>
                                Nested Section H1
                            </h1>
                            <p>
                                1
                            </p>
                        </section>
                        <section>
                            <h1>
                                Nested Section H1
                            </h1>
                            <p>
                                2
                            </p>
                        </section>
                    </article>
                </section>
                <section>
                    <h1>
                        Section H1
                    </h1>
                    <p>
                        2
                    </p>
                </section>
                <footer>
                    <pre><code>
&lt;article&gt;
    &lt;section&gt;
        &lt;h1&gt;
            Section H1
        &lt;/h1&gt;
        &lt;p&gt;
            1
        &lt;/p&gt;
        &lt;article&gt;
            &lt;h1&gt;
                Nested Article H1
            &lt;/h1&gt;
            &lt;section&gt;
                &lt;h1&gt;
                    Nested Section H1
                &lt;/h1&gt;
                &lt;p&gt;
                    1
                &lt;/p&gt;
            &lt;/section&gt;
            &lt;section&gt;
                &lt;h1&gt;
                    Nested Section H1
                &lt;/h1&gt;
                &lt;p&gt;
                    2
                &lt;/p&gt;
            &lt;/section&gt;
        &lt;/article&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;h1&gt;
            Section H1
        &lt;/h1&gt;
        &lt;p&gt;
            2
        &lt;/p&gt;
    &lt;/section&gt;
&lt;/article&gt;
                    </code></pre>
                </footer>
            </article>
            <article>
                <h1>
                    Orientation: Portrait and Landscape.
                </h1>
                <p>
                    Two default orientations, Portrait & Landscape, make Ambient ideal for responsive layouts.
                </p>
            </article>

            <article>
                <h1>
                    Column clearing
                </h1>
                <p>
                    Clearing a <code>&lt;section&gt;</code> makes use of <code>hr</code> as well as <code>header, footer, nav, h1, h2, h3, h4, h5, h6, p</code> elements.
                </p>
                <blockquote>
                    <p>
                        <code>&lt;hr&gt;</code> represents a thematic break between paragraph-level elements (for example, a change of scene in a story, or a shift of topic with a section).
                    </p>
                    <p>
                        <code>&lt;header&gt;</code> defines the header of a page or section.
                    </p>
                    <p>
                        <code>&lt;footer&gt;</code> defines the footer for a page or section.
                    </p>
                    <p>
                        <code>&lt;nav&gt;</code> defines a section that contains only navigation links.
                    </p>
                    <p>
                        <code>&lt;h1, h2, h3, h4, h5 ,h6&gt;</code> briefly describes the topic of the section.
                    </p>
                    <p>
                        <code>&lt;p&gt;</code> defines a paragraph of text and is left justified.
                    </p>
                </blockquote>
            </article>

            <article am-uxshell="display-grid">
                <h1>
                    Example columns
                </h1>
                <h2>
                    1 equal column
                </h2>
                <section>
                    <P>
                        Full width
                    </P>
                </section>
                <pre><code>
&lt;article&gt;
    &lt;section&gt;
        &lt;p&gt;
            Full width
        &lt;/p&gt;
    &lt;/section&gt;
&lt;/article&gt;
                </code></pre>
                <h2>
                    2 equal columns
                </h2>
                <section>
                    <P>
                        1
                    </P>
                </section>
                <section>
                    <P>
                        2
                    </P>
                </section>
                <pre><code>
&lt;article&gt;
    &lt;section&gt;
        &lt;p&gt;
            1
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;p&gt;
            2
        &lt;/p&gt;
    &lt;/section&gt;
&lt;/article&gt;
                </code></pre>
                <h2>
                    3 equal columns
                </h2>
                <section>
                    <P>
                        1
                    </P>
                </section>
                <section>
                    <P>
                        2
                    </P>
                </section>
                <section>
                    <P>
                        3
                    </P>
                </section>
                <pre><code>
&lt;article&gt;
    &lt;section&gt;
        &lt;p&gt;
            1
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;p&gt;
            2
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;p&gt;
            3
        &lt;/p&gt;
    &lt;/section&gt;
&lt;/article&gt;
                </code></pre>
                <h2>
                    4 equal columns
                </h2>
                <section>
                    <P>
                        1
                    </P>
                </section>
                <section>
                    <P>
                        2
                    </P>
                </section>
                <section>
                    <P>
                        3
                    </P>
                </section>
                <section>
                    <P>
                        4
                    </P>
                </section>
                <pre><code>
&lt;article&gt;
    &lt;section&gt;
        &lt;p&gt;
            1
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;p&gt;
            2
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;p&gt;
            3
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;p&gt;
            4
        &lt;/p&gt;
    &lt;/section&gt;
&lt;/article&gt;
                </code></pre>
                <h2>
                    5 equal columns
                </h2>
                <section>
                    <P>
                        1
                    </P>
                </section>
                <section>
                    <P>
                        2
                    </P>
                </section>
                <section>
                    <P>
                        3
                    </P>
                </section>
                <section>
                    <P>
                        4
                    </P>
                </section>
                <section>
                    <P>
                        5
                    </P>
                </section>
                <pre><code>
&lt;article&gt;
    &lt;section&gt;
        &lt;p&gt;
            1
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;p&gt;
            2
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;p&gt;
            3
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;p&gt;
            4
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;p&gt;
            5
        &lt;/p&gt;
    &lt;/section&gt;
&lt;/article&gt;
                </code></pre>
                <h2>
                    6 equal columns
                </h2>
                <section>
                    <P>
                        1
                    </P>
                </section>
                <section>
                    <P>
                        2
                    </P>
                </section>
                <section>
                    <P>
                        3
                    </P>
                </section>
                <section>
                    <P>
                        4
                    </P>
                </section>
                <section>
                    <P>
                        5
                    </P>
                </section>
                <section>
                    <P>
                        6
                    </P>
                </section>
                <pre><code>
&lt;article&gt;
    &lt;section&gt;
        &lt;p&gt;
            1
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;p&gt;
            2
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;p&gt;
            3
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;p&gt;
            4
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;p&gt;
            5
        &lt;/p&gt;
    &lt;/section&gt;
    &lt;section&gt;
        &lt;p&gt;
            6
        &lt;/p&gt;
    &lt;/section&gt;
&lt;/article&gt;
                </code></pre>
            </article>
            <article>
                <h1>
                    Offset columns
                </h1>
                <p>
                    Individual sizing makes use of design patterns (with flexible box properties) and <code>width, min-width, max-width</code> properties.
                </p>
                <p>
                    Alternatively, individual <code>&lt;div&gt;</code> elements can be offset relative to the parent container.
                </p>
            </article>
        </section>
        <section class="content-padding-small">
            <h1>
                <i class="fa fa-html5"></i> HTML5
            </h1>
            <blockquote cite="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5/HTML5_element_list">
                <h1>Sections</h1>
                <table>
                    <thead>
                    <tr>
                        <th scope="col">Element</th>
                        <th scope="col">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><code>&lt;body&gt;</code></td>
                        <td>
                            <div>
                                Represents the content of an HTML document. There is only one <code>&lt;body&gt;</code> element in a document.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><code>&lt;section&gt;</code></td>
                        <td>Defines a section in a document.</td>
                    </tr>
                    <tr>
                        <td><code>&lt;nav&gt;</code></td>
                        <td>Defines a section that contains only navigation links.</td>
                    </tr>
                    <tr>
                        <td><code>&lt;article&gt;</code></td>
                        <td>Defines self-contained content that could exist independently of the rest of the content.</td>
                    </tr>
                    <tr>
                        <td><code>&lt;aside&gt;</code></td>
                        <td>Defines some content loosely related to the page content. If it is removed, the remaining content still makes sense.</td>
                    </tr>
                    <tr>
                        <td><code>&lt;h1&gt;,&lt;h2&gt;,&lt;h3&gt;,&lt;h4&gt;,&lt;h5&gt;,&lt;h6&gt;</code></td>
                        <td>Heading elements implement six levels of document headings; <code>&lt;h1&gt;</code> is the most important and <code>&lt;h6&gt;</code> is the least. A heading element briefly describes the topic of the section it introduces.</td>
                    </tr>
                    <tr>
                        <td><code>&lt;header&gt;</code></td>
                        <td>Defines the header of a page or section. It often contains a logo, the title of the Web site, and a navigational table of content.</td>
                    </tr>
                    <tr>
                        <td><code>&lt;footer&gt;</code></td>
                        <td>Defines the footer for a page or section. It often contains a copyright notice, some links to legal information, or addresses to give feedback.</td>
                    </tr>
                    <tr>
                        <td><code>&lt;address&gt;</code></a></td>
                        <td>Defines a section containing contact information.</td>
                    </tr>
                    <tr>
                        <td><code>&lt;main&gt;</code></td>
                        <td>Defines the main or important content in the document. There is only one &lt;main&gt; element in the document.</td>
                    </tr>
                    </tbody>
                </table>
            </blockquote>
            <blockquote cite="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr">
                <p>
                    The <strong>HTML <code>&lt;hr&gt;</code> element</strong> represents a thematic break between paragraph-level elements (for example, a change of scene in a story, or a shift of topic with a section).
                    In previous versions of HTML, it represented a horizontal rule.
                    It may still be displayed as a horizontal rule in visual browsers, but is now defined in semantic terms, rather than presentational terms.
                </p>
            </blockquote>
            <h1>
                <i class="fa fa-css3"></i> CSS3
            </h1>
            <blockquote>
                <p>
                    <code>&lt;body&gt;</code>
                </p>
                <p>
                    <code>display: flex; flex-direction: column;</code>
                </p>
            </blockquote>
            <p>
                <code>&lt;body&gt;</code> enables a <strong>flex context</strong> for all its direct children.
            </p>
            <hr />

            <blockquote>
                <p>
                    <code>&lt;section&gt;</code>
                </p>
                <p>
                    <code>flex: 1 1 8.3333%;</code>
                </p>
            </blockquote>
            <p>
                <code>&lt;section&gt;</code> is a <strong>column</strong>. Multiple <code>&lt;section&gt;</code> elements will (flex) grow and (flex) shrink as evenly distributed columns.
            </p>
            <hr />

            <blockquote>
                <p>
                    <code>&lt;nav&gt;</code>
                </p>
                <p>
                    <code>display: flex; flex-flow: row wrap;</code>
                </p>
            </blockquote>
            <p>
                <code>&lt;nav&gt;</code> is a <strong>row</strong>.
            </p>
            <p>
                <code>&lt;nav&gt;</code> <code>&lt;a&gt;</code> displays evenly distributed, inline and centered.
            </p>
            <hr />

            <blockquote>
                <p>
                    <code>&lt;article&gt;</code>
                </p>
                <p>
                    <code>display: flex; flex-flow: row wrap;</code>
                </p>
            </blockquote>
            <p>
                <code>&lt;article&gt;</code> is a <strong>row</strong>.
            </p>
            <hr />

            <blockquote>
                <p>
                    <code>&lt;aside&gt;</code>
                </p>
                <p>
                    <code>flex: 0 0 20%;</code>
                </p>
            </blockquote>
            <p>
                <code>&lt;aside&gt;</code> is a <strong>column</strong> 20% of content.
            </p>
            <hr />

            <blockquote>
                <p>
                    <code>&lt;h1&gt;,&lt;h2&gt;,&lt;h3&gt;,&lt;h4&gt;,&lt;h5&gt;,&lt;h6&gt;</code>
                </p>
            </blockquote>
            <p>
                <code>&lt;h1&gt;,&lt;h2&gt;,&lt;h3&gt;,&lt;h4&gt;,&lt;h5&gt;,&lt;h6&gt;</code> are width: <strong> 100% of content</strong>.
            </p>
            <hr />

            <blockquote>
                <p>
                    <code>&lt;header&gt;</code>
                </p>
                <p>
                    <code> display: flex; flex-flow: row wrap;</code>
                </p>
            </blockquote>
            <p>
                <code>&lt;header&gt;</code> is a <strong>row</strong>.
            </p>
            <hr />

            <blockquote>
                <p>
                    <code>&lt;footer&gt;</code>
                </p>
                <p>
                    <code>order: 2;</code>
                </p>
            </blockquote>
            <p>
                <code>&lt;footer&gt;</code> is a <strong>row</strong>
            </p>
            <p>
                <code>&lt;body&gt;</code> <code>&lt;footer&gt;</code> is sticky footer.
            </p>
            <hr />

            <blockquote>
                <p>
                    <code>&lt;main&gt;</code>
                </p>
                <p>
                    <code>flex: 1 0 auto;</code>
                </p>
            </blockquote>
            <p>
                <code>&lt;main&gt;</code> is the main or important <strong>content</strong>.
            </p>
            <hr />

            <blockquote>
                <p>
                    <code>&lt;hr /&gt;</code>
                </p>
            </blockquote>
            <p>
                <code>&lt;hr /&gt;</code> is a thematic break. We use <code>&lt;hr /&gt;</code> instead of border styles on containers to <i>optionally</i> define <strong>framing</strong>
            </p>
            <p>
                We also have an <i>optional vertical rule</i> design pattern <code>&lt;hr am-verticalrule /&gt;</code>.
            </p>
            <h2>
                Normalize.css
            </h2>
            <p>
                For improved cross-browser rendering, we use
                <a target="_blank" href="http://necolas.github.io/normalize.css/">Normalize.css</a>, a project by
                <a target="_blank" href="http://twitter.com/necolas">Nicolas Gallagher</a>
                and
                <a target="_blank" href="http://twitter.com/jon_neal">Jonathan Neal</a>.
            </p>
            <h2>
                Cursor Reset
            </h2>
            <p>
                For improved cursor rendering, we use
                <a target="_blank" href="https://gist.github.com/murtaugh/5247154">cursor-reset.css</a>, a project by
                <a target="_blank" href="https://twitter.com/murtaugh">Tim Murtaugh</a>.
            </p>
        </section>
    </article>
    <hr />

    <article>
        <h1>
            Ambient is a methodology for creating layout.
        </h1>
        <h2>
            This system evolved out of the need to fully decouple markup (HTML) from presentation (CSS). The semantic grid avoids presentational CSS classes in the HTML markup itself.
        </h2>
        <h3>
            While presentation changes can require changes in structure, content can be changed without any need for structural change beyond the semantic grid.
        </h3>
        <p>
            Our goal is to deliver a lean, lightweight semantic grid system for HTML elements, attributes and values, while also maintaining a separation from content that adapts across different devices.
        </p>
    </article>
</main>
<footer class="text-center content-padding-large">
    <p>
        Ambient makes use of HTML5 elements & CSS3 properties to convey structure within a semantic grid.
    </p>
    <p>
        Design patterns are about defining namespaces for the HTML to live in. It works by generating styles for elements, attributes & values. And it's the key to unlocking this new approach.
    </p>
    <p>
        <small>
            This site is built with Ambient v1.1.1
        </small>
    </p>
    <p>
        <a href="https://github.com/ionlyseespots/ambient-design">GitHub</a>
        &middot;
        <a href="docs/index.html">Examples</a>
        &middot;
        <a href="docs/index.html">v1 docs</a>
        &middot;
        <a href="#">About</a>
    </p>
</footer>
</body>
</html>