<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ambient semantic scaffolding</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Ambient -->
    <link rel="stylesheet" href="../dist/css/ambient.min.css">

    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
<!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<header>
    <h1>
        <a href="../index.html" title="index">Ambient</a>
    </h1>
</header>
<div role="tab">
    <nav am-layout role="navigation tab">
        <a href="../index.html"><i class="fa fa-home"></i></a>
        <a href="../docs/index.html">Get Started</a>
        <a class="am-active" href="../layout/index.html">Features</a>
        <a href="../design-patterns/index.html">Docs</a>
    </nav>
</div>
<main role="main">
    <header class="am-primary">
        <h1>
            Features
        </h1>
    </header>
    <article am-layout="vertical">
        <header am-padding="large" class="am-secondary">
            <h1>
                <i class="fa fa-html5"></i> Semantic
            </h1>
            <p>
                Ambient makes it easy for you to scaffold HTML5.
            </p>
        </header>
        <section>
            <h1>
                Build the intent of your content
            </h1>
            <p>
                Ambient makes it easy for you to scaffold HTML5. Build your content in the <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Sections_and_Outlines_of_an_HTML5_document">document outline</a>.
            </p>
            <blockquote>
                <p>
                    Do use HTML5 sectioning elements to build the intent of your content.
                </p>
                <p>
                    Do <strong>NOT</strong> use HTML5 sectioning elements as a replacement for content better suited to a <code>div</code>.
                </p>
            </blockquote>
            <h2>
                Holy Grail <code class="am-float-r">HTML5 example</code>
            </h2>
            <div role="example">
            <p data-height="350" data-theme-id="11491" data-slug-hash="gbmJRP" data-default-tab="result" data-user="ionlyseespots" class='codepen'>See the Pen <a href='http://codepen.io/ionlyseespots/pen/gbmJRP/'>Idea for flexbox HTML5 scaffolding & layout attributes</a> by I only see spots (<a href='http://codepen.io/ionlyseespots'>@ionlyseespots</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
            <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
            </div>
            <h3>
                Code
            </h3>
 <pre><code>&lt;body&gt;
    &lt;header role="banner"&gt;
        &lt;h1&gt;
            Header
        &lt;/h1&gt;
    &lt;/header&gt;
    &lt;aside role="complementary"&gt;
        &lt;h1&gt;
            Aside
        &lt;/h1&gt;
    &lt;/aside&gt;
    &lt;main role="main"&gt;
        &lt;h1&gt;
            Hello, world!
        &lt;/h1&gt;
    &lt;/main&gt;
    &lt;aside role="complementary"&gt;
        &lt;h1&gt;
            Aside
        &lt;/h1&gt;
    &lt;/aside&gt;
    &lt;footer role="contentinfo"&gt;
        &lt;h1&gt;
            Footer
        &lt;/h1&gt;
    &lt;/footer&gt;
&lt;/body&gt;</code></pre>
            <blockquote cite="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Sections_and_Outlines_of_an_HTML5_document">
                <h1>
                    Explicit
                </h1>
                <p>
                    All content lying inside the <code>body</code> element is part of a section. Sections in HTML5 can be nested. Beside the main section, defined by the <code>body</code> element, section limits are defined either explicitly or implicitly. Explicitly-defined sections are:
                </p>
            </blockquote>
            <table am-layout="zebra-stripe">
                <thead>
                <tr>
                    <th scope="col">Scaffolding</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td data-title="Scaffolding">body</td>
                    <td data-title="Description">Represents the content of an HTML document.</td>
                </tr>
                <tr>
                    <td data-title="Scaffolding">header</td>
                    <td data-title="Description">Represents a group of introductory or navigational aids.</td>
                </tr>
                <tr>
                    <td data-title="Scaffolding">nav</td>
                    <td data-title="Description">Represents a section of a page that links to other pages or to parts within the page.</td>
                </tr>
                <tr>
                    <td data-title="Scaffolding">main</td>
                    <td data-title="Description">Represents the main content of  the body of a document or application.</td>
                </tr>
                <tr>
                    <td data-title="Scaffolding">article</td>
                    <td data-title="Description">Represents a self-contained composition in a document, page, application, or site.</td>
                </tr>
                <tr>
                    <td data-title="Scaffolding">section</td>
                    <td data-title="Description">Represents a generic section of a document,</td>
                </tr>
                <tr>
                    <td data-title="Scaffolding">aside</td>
                    <td data-title="Description">Represents a section of the page with content connected tangentially to the rest, which could be considered separate from that content.</td>
                </tr>
                <tr>
                    <td data-title="Scaffolding">footer</td>
                    <td data-title="Description">Represents a footer for its nearest sectioning content or sectioning root element.</td>
                </tr>
                </tbody>
            </table>
            <blockquote cite="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Sections_and_Outlines_of_an_HTML5_document">
                <h1>
                    Implicit
                </h1>
                <p>
                    The HTML Headings Elements (h1 to h6) defines a new, implicit, section when they aren't the first heading of their parent, explicit, sections. The way this implicit section is positioned in the outline is defined by its relative rank with the previous heading in their parent section. If it is of a lower rank than the previous heading, it opens a implicit sub-section of the section.     </p>
            </blockquote>
            <table am-layout>
                <thead>
                <tr>
                    <th scope="col">Scaffolding</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td data-title="Scaffolding">
                        <code>
                            &lt;h1&gt;
                            &lt;h2&gt
                            &lt;h3&gt;
                            &lt;h4&gt;
                            &lt;h5&gt;
                            &lt;h6&gt;
                        </code>
                    </td>
                    <td data-title="Description">A heading element briefly describes the topic of the section it introduces.</td>
                </tr>
                </tbody>
            </table>
        </section>
    </article>
    <hr />

    <article>
        <header am-padding="large" class="am-secondary">
            <h1>
                <i class="fa fa-css3"></i> Layout
            </h1>
            <p>
                Avoids presentational CSS classes in the markup.
            </p>
        </header>
    </article>
    <hr />

    <article>
        <header am-padding="large" class="am-secondary">
            <h1>
                <i class="fa fa-mobile fa-small"></i>
                <i class="fa fa-desktop"></i> Dynamic
            </h1>
            <p>
                Provides layout for both portrait & landscape.
            </p>
        </header>
    </article>
</main>
<footer am-padding="large" am-margin="top" class="am-text-c">
    <p>
        Ambient is an advanced CSS framework built as a lightweight & modular HTML5 layout methodology.
    </p>
    <p>
        Ambient is a project by <i class="fa fa-github"></i>
        <a href="https://github.com/ionlyseespots/ambient-design">I only see spots</a>.
    </p>
</footer>
</body>
</html>