/* Docs Theme */
/* Most of these styles are customizable as variables within Ambient. */

html {
    font-size: 100%;
    line-height: 1.5;
}

body {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 .5em;
}

header, footer {
    padding: 1em;
}

main {
    border: 1px solid #d6d6d6;
    border-top: none;
    padding: .5em;
    margin-top: -5px;
}
header h1 a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: .25em;
}
/* little bit of heading theme styles for type, consider owning the default styling */
section h1 {
    font-size: 1.75rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: .75em;
}
h6 {
    font-size: .5em;
}
div[am-block] > div[am-block]  {
    padding: 0 .25em;
}

.am-btn {
    margin: 0 2px;
}
/* Ambient color doc styles */
span.name {
    display: block;
    margin-bottom: 60px;
}
.color-palette ul {
    color: hsla(0, 0%, 100%, 0.87);
    margin: 0;
    padding: 0;
    width: 100%;
}
.color-palette li {
    list-style-type: none;
    padding: 15px 5px;
}
.backgrounds [am-col] p, .borders-and-text [am-col] p {
    padding: 1vw;
}







