main article:not(:first-of-type) p {padding-bottom: 3vw;}
body > header, body > footer {background-color:#333; color:#ddd;}
body > footer { padding: 3vw; max-width: 100%;}
header a {color:#ddd;}
header a:hover {color:#fff;}