// Google Material inspired
// http://www.google.com/design/spec/what-is-material/environment.html#environment-3d-world
[am-shadow] {
  &[am-shadow~="z1"] {
    z-index: 1;
    .z-depth(1);
  }
  &[am-shadow~="z2"] {
    z-index: 2;
    .z-depth(2);
  }
  &[am-shadow~="z3"] {
    z-index: 3;
    .z-depth(3);
  }
  &[am-shadow~="z4"] {
    z-index: 4;
    .z-depth(4);
  }
  &[am-shadow~="z5"] {
    z-index: 5;
    .z-depth(5);
  }
  &,
  &:hover,
  &:focus {
    &[am-shadow~="hover-animate"] {
      .z-depth-animation(5);
      -webkit-transition:box-shadow @z-depth-animation-time @z-depth-animation-function;
      -o-transition:box-shadow @z-depth-animation-time @z-depth-animation-function;
      transition:box-shadow @z-depth-animation-time @z-depth-animation-function;
    }
  }
}