.am-text-left {
  text-align: left;
  .justify-content(flex-start);
}
.am-text-right {
  text-align: right;
  .justify-content(flex-end);
}
.am-text-center {
  text-align: center;
  .justify-content(center);
}
.am-text-lowercase {
  text-transform: lowercase;
}
.am-text-uppercase {
  text-transform: uppercase;
}
.am-text-capitalize {
  text-transform: capitalize;
}