// Nav
[am-nav] {
  a {
  padding: 1em;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
  -moz-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
  -o-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
  transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
  transition: background 0.3s ease 0s;
  &:hover,
  &:focus,
  &:active,  {
    background-color:@am-primary-bg;
    outline: 0 none;
    }
  }
}

[am-nav~="left-align"] {
  & a {
    flex: none;
  }
  .justify-content(flex-start);
}

[am-nav~="right-align"] {
  & a {
    flex: none;
  }
  .justify-content(flex-end);
}

[am-nav~="center"] {
  & a {
    flex: none;
  }
  .justify-content(center);
}

[am-nav~="justify"] {
  & a {
    flex: none;
  }
  .justify-content(space-between);
}

[am-nav~="vertical"] {
  .flex-direction(column);
  a {
    .flex-basis(auto); // https://social.msdn.microsoft.com/Forums/ie/en-US/8145c1e8-6e51-4213-ace2-2cfa43b1c018/ie-11-flexbox-with-flexwrap-wrap-doesnt-seem-to-calculate-widths-correctly-boxsizing-ignored?forum=iewebdevelopment
    width: 100%;
  }
}