// Global layout attributes are layout properties common to all HTML elements. These attributes can be used on any element.
// viewport widths ensure vertical rhythm with white spacing within (am-layout & am-component) header, footer article & sections
// To add space outside and inside an element
[am-padding] {
  padding: @am-padding;
}
[am-padding="top"] {
  padding: @am-padding 0 0 0;
}
[am-padding="right"] {
  padding: 0 @am-padding 0 0;
}
[am-padding="bottom"] {
  padding: 0 0 @am-padding 0;
}
[am-padding="left"] {
  padding: 0 0 0 @am-padding;
}
[am-padding="small"] {
  padding: calc(@am-padding - .5vw);
}
[am-padding="large"] {
  padding: calc(@am-padding + 2vw);
}
&[am-margin] {
  margin: @am-margin;
}
[am-margin="top"] {
  margin: @am-margin 0 0 0;
}
[am-margin="right"] {
  margin: 0 @am-margin 0 0;
}
[am-margin="bottom"] {
  margin: 0 0 @am-margin 0;
}
[am-margin="left"] {
  margin: 0 0 0 @am-margin;
}
[am-margin="small"] {
  padding: calc(@am-margin - .5vw);
}
[am-margin="large"] {
  padding: calc(@am-margin + 2vw);
}
// To add depth to an element
[am-layer] {
  position: relative;
  z-index: 1;
  &[am-layer~="z-1"]:after {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    content: "";
    top:0;
    bottom:0;
    left: 0;
    position: absolute;
    right: 0;
    pointer-events: none;
  }
  &[am-layer~="z-1"]:before {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    pointer-events: none;
  }
  &[am-layer~="z-2"]:after {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    content: "";
    top:0;
    bottom:0;
    left: 0;
    position: absolute;
    right: 0;
    pointer-events: none;
  }
  &[am-layer~="z-2"]:before {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    pointer-events: none;
  }
  &[am-layer~="z-3"]:after {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    content: "";
    top:0;
    bottom:0;
    left: 0;
    position: absolute;
    right: 0;
    pointer-events: none;
  }
  &[am-layer~="z-3"]:before {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    pointer-events: none;
  }
  &[am-layer~="z-4"]:after {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    content: "";
    top:0;
    bottom:0;
    left: 0;
    position: absolute;
    right: 0;
    pointer-events: none;
  }
  &[am-layer~="z-4"]:before {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    pointer-events: none;
  }
  &[am-layer~="z-5"]:after {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
    content: "";
    top:0;
    bottom:0;
    left: 0;
    position: absolute;
    right: 0;
    pointer-events: none;
  }
  &[am-layer~="z-5"]:before {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    pointer-events: none;
  }
}