// viewport widths ensure vertical rhythm with white spacing within (am-layout & am-component) header, footer article & sections
[am-layout], [am-component], [am-nav], [am-form]  {
  &[am-padding] {
    padding-top: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
  }
  &[am-padding="top"] {
    padding-top: 1vw;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  &[am-padding="right"] {
    padding-right: 1vw;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
  }
  &[am-padding="bottom"] {
    padding-bottom:1vw;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;

  }
  &[am-padding="left"] {
    padding-left: 1vw;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  &[am-padding="small"] {
    padding-top: .5vw;
    padding-right: .5vw;
    padding-bottom: 5vw;
    padding-left: .5vw;
  }
  &[am-padding="large"] {
    padding-top: 3vw;
    padding-right: 3vw;
    padding-bottom: 3vw;
    padding-left: 3vw;
  }
  &[am-margin] {
    margin-top: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
  }
  &[am-margin="top"] {
    margin-top: 1vw;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  &[am-margin="right"] {
    margin-right: 1vw;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
  }
  &[am-margin="bottom"] {
    margin-bottom: 1vw;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
  }
  &[am-margin="left"] {
    margin-left:1vw;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  &[am-margin="small"] {
    margin-top: .5vw;
    margin-right: .5vw;
    margin-bottom: 5vw;
    margin-left: .5vw;
  }
  &[am-margin="large"] {
    margin-top: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vw;
    margin-left: 3vw;
  }
}


