[am-component]{
  &[am-padding] {
    padding-top: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
  }
  &[am-padding="top"] {
    padding-top: 1vw;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  &[am-padding="right"] {
    padding-right: 1vw;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
  }
  &[am-padding="bottom"] {
    padding-bottom:1vw;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;

  }
  &[am-padding="left"] {
    padding-left: 1vw;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  &[am-padding="small"] {
    padding-top: .5vw;
    padding-right: .5vw;
    padding-bottom: 5vw;
    padding-left: .5vw;
  }
  &[am-padding="medium"] {
    padding-top: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 1.5vw;
  }
  &[am-padding="large"] {
    padding-top: 3vw;
    padding-right: 3vw;
    padding-bottom: 3vw;
    padding-left: 3vw;
  }

  &[am-margin] {
    margin-top: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
  }
  &[am-margin="top"] {
    margin-top: 1vw;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  &[am-margin="right"] {
    margin-right: 1vw;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
  }
  &[am-margin="bottom"] {
    margin-bottom: 1vw;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
  }
  &[am-margin="left"] {
    margin-left:1vw;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  &[am-margin="small"] {
    margin-top: .5vw;
    margin-right: .5vw;
    margin-bottom: 5vw;
    margin-left: .5vw;
  }
  &[am-margin="medium"] {
    margin-top: 1.5vw;
    margin-right: 1.5vw;
    margin-bottom: 1.5vw;
    margin-left: 1.5vw;
  }
  &[am-margin="large"] {
    margin-top: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vw;
    margin-left: 3vw;
  }
}

[am-component~="gutter"] {
  &[am-gutter="padding"] {
    padding: 0;
    & > div {
      padding-left:1em;
    }
    & > div:first-of-type {
      margin-left:-1em;
    }
  }
  &[am-gutter="margin"] {
    margin: 0;
    & > div {
      margin-left:1em;
    }
    & > div:first-of-type {
      margin-left: 0;
    }
  }
}

[am-component~="grid"] {
  .flex-display;
  .flex-direction(column);
  & div {
    /**
   * column
   */
    .flex(1 8.3333%);
    /**
    * help content on absolute positioning
    */
    position: relative;
  &[am-grid="row"] {
    .flex-display;
    flex-basis: 100%;
    .flex-flow(row wrap);
      & div[am-grid="10"] {
        flex-basis: 8.33333%;
        }
      & div[am-grid="20"] {
        flex-basis: 16.6667%;
      }
      & div[am-grid="30"] {
        flex-basis: 25%;
      }
      & div[am-grid="40"] {
        flex-basis: 33.3333%;
      }
      & div[am-grid="45"] {
        flex-basis: 41.6667%;
      }
      & div[am-grid="50"] {
        flex-basis: 50%;
      }
      & div[am-grid="55"] {
        flex-basis: 58.3333%;
      }
      & div[am-grid="60"] {
        flex-basis: 66.6667%;
      }
      & div[am-grid="70"] {
        flex-basis: 75%;
      }
      & div[am-grid="80"] {
        flex-basis: 83.3333%;
      }
      & div[am-grid="90"] {
        flex-basis: 91.6667%;
      }
      & div[am-grid="100"] {
        flex-basis: 100%;
      }
    }
  }
}


