article section[am-component]{
  &[am-padding] {
    padding:1vw;
  }
//  extend initial padding size value as:
//  &[am-padding~="VALUENAME"] {
//    padding:VALUESIZE;
//  }
  &[am-padding~="top"] {
    padding-top:1vw;
  }
  &[am-padding~="right"] {
    padding-right:1vw;
  }
  &[am-padding~="bottom"] {
    padding-bottom:1vw;
  }
  &[am-padding~="left"] {
    padding-left:1vw;
  }

  &[am-margin] {
    margin:1vw;
  }
//  extend initial margin size values as"
//  &[am-margin~="VALUENAME"] {
//       margin:VALUESIZE;
//  }
  &[am-margin~="top"] {
    margin-top:1vw;
  }
  &[am-margin~="right"] {
    margin-right:1vw;
  }
  &[am-margin~="bottom"] {
    margin-bottom:1vw;
  }
  &[am-margin~="left"] {
    margin-left:1vw;
  }




}

