// Utilities
// Small collection of classes for your content
.am-active {
  background-color:@am-primary-bg;
}
.am-text-left {
  text-align: left;
  .justify-content(flex-start);
}
.am-text-right {
  text-align: right;
  .justify-content(flex-end);
}
.am-text-center {
  text-align: center;
  .justify-content(center);
}
.am-text-lowercase {
  text-transform: lowercase;
}
.am-text-uppercase {
  text-transform: uppercase;
}
.am-text-capitalize {
  text-transform: capitalize;
}

// http://alistapart.com/article/flat-ui-and-forms
// http://davidwalsh.name/html5-buttons
.am-btn-primary {
  background-color: @am-closure;
  color: #fff;
}
.am-primary {
  background-color: @am-primary-bg;
}
.am-secondary {
  background-color: @am-secondary-bg;
}
