// Utilities
// Small collection of classes for your content
.am-active {
  background-color:@am-primary-bg;
}
.am-text-left {
  text-align: left;
  .justify-content(flex-start);
}
.am-text-right {
  text-align: right;
  .justify-content(flex-end);
}
.am-text-center {
  text-align: center;
  .justify-content(center);
}
.am-text-lowercase {
  text-transform: lowercase;
}
.am-text-uppercase {
  text-transform: uppercase;
}
.am-text-capitalize {
  text-transform: capitalize;
}



// Buttons
// http://alistapart.com/article/flat-ui-and-forms
// http://davidwalsh.name/html5-buttons
// http://www.google.com/design/spec/components/buttons.html#buttons-flat-raised-buttons
.am-btn {
  text-decoration: none;
  -moz-user-select: none;
  background-image: none;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #333;
  .z-depth-bottom(1);
  .z-depth-animation(2);
  background-clip: padding-box;
  border: medium none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  margin-bottom: 15px;
  outline: 0 none;
  padding: 0 2rem;
  text-transform: uppercase;
  &,
  &:hover,
  &:focus {
    -webkit-transition:box-shadow @z-depth-animation-time @z-depth-animation-function;
    -o-transition:box-shadow @z-depth-animation-time @z-depth-animation-function;
    transition:box-shadow @z-depth-animation-time @z-depth-animation-function;
  }
  &.floating {
    height: 55.5px;
    width: 55.5px;
    background-clip: padding-box;
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 0;
  }
}
.am-btn-primary {
  background-color: @am-closure;
  color: #fff;
}
.am-primary {
  background-color: @am-primary-bg;
}
.am-secondary {
  background-color: @am-secondary-bg;
}



// Material palette

// Apply color hue / color orientation to classes
.am-red {
  &-text {
    .red(6, text);
  }
  &-bg {
    .red(6, bg);
  }
  &-border {
    .red(6, border);
  }
  &-fill {
    .red(6, fill);
  }
  &-stroke {
    .red(6, stroke);
  }
}

// Generate color hue and color orientation from variable groups
.red(@clr, @clr-orientation: bg) {
  & when (@clr-orientation = text) {
    color: extract(@group-red, @clr);
  }
  & when (@clr-orientation = bg) {
    background-color: extract(@group-red, @clr);
  }
  & when (@clr-orientation = border) {
    border-color:  extract(@group-red, @clr);
  }
  & when (@clr-orientation = fill) {
    fill: extract(@group-red, @clr);
  }
  & when (@clr-orientation = stroke) {
    stroke: extract(@group-red, @clr);
  }
}

.am-pink {
  color: @clr-pink;
  &-bg {
    background-color: @clr-pink;
  }
  &-border {
    border-color: @clr-pink;
  }
  &-fill {
    fill: @clr-pink;
  }
  &-stroke {
    stroke: @clr-pink;
  }
}
.am-purple {
  color: @clr-purple;
  &-bg {
    background-color: @clr-purple;
  }
  &-border {
    border-color: @clr-purple;
  }
  &-fill {
    fill: @clr-purple;
  }
  &-stroke {
    stroke: @clr-purple;
  }
}
.am-deep-purple {
  color: @clr-deep-purple;
  &-bg {
    background-color: @clr-deep-purple;
  }
  &-border {
    border-color: @clr-deep-purple;
  }
  &-fill {
    fill: @clr-deep-purple;
  }
  &-stroke {
    stroke: @clr-deep-purple;
  }
}
.am-indigo {
  color: @clr-indigo;
  &-bg {
    background-color: @clr-indigo;
  }
  &-border {
    border-color: @clr-indigo;
  }
  &-fill {
    fill: @clr-indigo;
  }
  &-stroke {
    stroke: @clr-indigo;
  }
}
.am-blue {
  color: @clr-blue;
  &-bg {
    background-color: @clr-blue;
  }
  &-border {
    border-color: @clr-blue;
  }
  &-fill {
    fill: @clr-blue;
  }
  &-stroke {
    stroke: @clr-blue;
  }
}
.am-light-blue {
  color: @clr-light-blue;
  &-bg {
    background-color: @clr-light-blue;
  }
  &-border {
    border-color: @clr-light-blue;
  }
  &-fill {
    fill: @clr-light-blue;
  }
  &-stroke {
    stroke: @clr-light-blue;
  }
}
.am-cyan {
  color: @clr-cyan;
  &-bg {
    background-color: @clr-cyan;
  }
  &-border {
    border-color: @clr-cyan;
  }
  &-fill {
    fill: @clr-cyan;
  }
  &-stroke {
    stroke: @clr-cyan;
  }
}
.am-teal {
  color: @clr-teal;
  &-bg {
    background-color: @clr-teal;
  }
  &-border {
    border-color: @clr-teal;
  }
  &-fill {
    fill: @clr-teal;
  }
  &-stroke {
    stroke: @clr-teal;
  }
}
.am-green {
  color: @clr-green;
  &-bg {
    background-color: @clr-green;
  }
  &-border {
    border-color: @clr-green;
  }
  &-fill {
    fill: @clr-green;
  }
  &-stroke {
    stroke: @clr-green;
  }
}
.am-light-green {
  color: @clr-light-green;
  &-bg {
    background-color: @clr-light-green;
  }
  &-border {
    border-color: @clr-light-green;
  }
  &-fill {
    fill: @clr-light-green;
  }
  &-stroke {
    stroke: @clr-light-green;
  }
}
.am-lime {
  color: @clr-lime;
  &-bg {
    background-color: @clr-lime;
  }
  &-border {
    border-color: @clr-lime;
  }
  &-fill {
    fill: @clr-lime;
  }
  &-stroke {
    stroke: @clr-lime;
  }
}
.am-yellow {
  color: @clr-yellow;
  &-bg {
    background-color: @clr-yellow;
  }
  &-border {
    border-color: @clr-yellow;
  }
  &-fill {
    fill:  @clr-yellow;
  }
  &-stroke {
    stroke: @clr-yellow;
  }
}
.am-amber {
  color: @clr-amber;
  &-bg {
    background-color: @clr-amber;
  }
  &-border {
    border-color: @clr-amber;
  }
  &-fill {
    fill:  @clr-amber;
  }
  &-stroke {
    stroke: @clr-amber;
  }
}
.am-orange {
  color: @clr-orange;
  &-bg {
    background-color: @clr-orange;
  }
  &-border {
    border-color: @clr-orange;
  }
  &-fill {
    fill:  @clr-orange;
  }
  &-stroke {
    stroke: @clr-orange;
  }
}
.am-deep-orange {
  color: @clr-deep-orange;
  &-bg {
    background-color: @clr-deep-orange;
  }
  &-border {
    border-color: @clr-deep-orange;
  }
  &-fill {
    fill:  @clr-deep-orange;
  }
  &-stroke {
    stroke: @clr-deep-orange;
  }
}
.am-brown {
  color: @clr-brown;
  &-bg {
    background-color: @clr-brown;
  }
  &-border {
    border-color: @clr-brown;
  }
  &-fill {
    fill:  @clr-brown;
  }
  &-stroke {
    stroke: @clr-brown;
  }
}
.am-grey {
  color: @clr-grey;
  &-bg {
    background-color: @clr-grey;
  }
  &-border {
    border-color: @clr-grey;
  }
  &-fill {
    fill:  @clr-grey;
  }
  &-stroke {
    stroke: @clr-grey;
  }
}
.am-blue-grey {
  color: @clr-blue-grey;
  &-bg {
    background-color: @clr-blue-grey;
  }
  &-border {
    border-color: @clr-blue-grey;
  }
  &-fill {
    fill:  @clr-blue-grey;
  }
  &-stroke {
    stroke: @clr-blue-grey;
  }
}
.am-black {
  color: @clr-black;
  &-bg {
    background-color: @clr-black;
  }
  &-border {
    border-color: @clr-black;
  }
  &-fill {
    fill:  @clr-black;
  }
  &-stroke {
    stroke: @clr-black;
  }
}
.am-white {
  color: @clr-white;
  &-bg {
    background-color: @clr-white;
  }
  &-border {
    border-color: @clr-white;
  }
  &-fill {
    fill:  @clr-white;
  }
  &-stroke {
    stroke: @clr-white;
  }
}