/**
* multi-column shell [holy grail]
*/
[am-multicolumn] > section:first-of-type {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  order: 1;
  -webkit-order: 1;
-moz-order: 1;
  -ms-order: 1;
  -webkit-flex: 1 auto;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto; }
[am-multicolumn] section:first-of-type aside:last-of-type {
  order:-1;
  -webkit-order: -1;
  -moz-order: -1;
  -ms-order: -1; }
[am-multicolumn] {
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column; }

/**
* panel shell
*/
[am-leftpanel] nav {
  flex-direction: column;
  flex-flow: column;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }
[am-leftpanel] > section:last-of-type header {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
[am-leftpanel] > section:last-of-type  {
  flex: 4;
  -webkit-flex: 4;
  -moz-flex: 4;
  -ms-flex: 4; }
[am-leftpanel] nav ul {
  list-style: none;
  text-align: center;
  margin: 0; }
[am-leftpanel]  nav ul li {
  transition: background 0.3s ease 0s; }
[am-leftpanel] nav ul li:hover {
  background: #eee; }
[am-leftpanel] nav ul li:hover a {
  color:#000033; }
[am-leftpanel] nav ul li.active {
  box-shadow: inset -6px 0 0 #e86f56; }

[am-leftpanel] nav ul li.active a{
  color: #3e3e3e; }
[am-leftpanel] nav ul li a {
  color:#9f9f9f;
  padding: 1vw;
  text-decoration: none;
  width: 100%; }
[am-leftpanel] li.active a i, [am-leftpanel] li.active:hover a i {
  color:#e86f56; }

@media (orientation:portrait){
  [am-leftpanel] > nav:first-child ul li:first-child {
    width: 100%; }
  [am-leftpanel] nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  [am-leftpanel]  nav ul li {
    -webkit-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    transition: background 0.3s ease 0s; }
  [am-leftpanel] nav ul li.active {
    box-shadow: none;  }
  [am-leftpanel] nav ul li a {
    padding: 2vw 0; }
  [am-leftpanel] nav ul li.active a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left:50%;
    padding: 0;
    margin-left: -7px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 9px solid #7a706e;
    z-index: 1; }
  [am-leftpanel] > section:last-of-type header{
    padding: 2vw 0; }
  .panel-info {
    width: 100%; }
}

/**dd
* landing page shell
*/
[am-layout="landingpage"] {
  min-height: 12%;
  position: absolute;
  top: 87%;
  z-index: 2;
  background-color:inherit;
}

[am-layout~="landingpage"]  {
  & h1 {
    margin: 2vw 0; }
  & nav {
    background-color: #fff;
    height: 5vw; }
  & article {
    padding-top: 2vw; }
  & footer {
    padding: 2vw 0;
    margin-top: 2vw; }
}

[am-layout="landingpage splash"] {
  height: 88%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  justify-content: center;
  z-index: 1;
}

[am-layout~="splash"] h1 {
  border: 3px solid white;
  border-radius: 5px;
  padding: 2vw 3vw;
}

[am-layout~="gutter"] {
  &[am-gutter="padding"] {
    padding: 0;
    & > section {
      padding-left:1em;
    }
    & > section:first-of-type {
      margin-left:-1em;
    }
  }
  &[am-gutter="margin"] {
    margin: 0;
    & > section {
      margin-left:1em;
    }
    & > section:first-of-type, header + section, nav + section, footer + section, h1 + section, h2 + section, h3 + section, h4 + section, h5 + section, h6 + section, hr + section, p + section {
      margin-left: 0;
    }
  }
}

[am-layout~="outline"] {
  &[am-gutter~="padding"] p {
    background-color: rgba(93, 116, 137, 0.15);
    border: 1px solid rgba(93, 116, 137, 0.2);
  }
  section, aside, div {
    background-color: rgba(93, 116, 137, 0.15);
    border: 1px solid rgba(93, 116, 137, 0.2);
  }
}


[am-layout]   {
  &[am-padding] {
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
  }
  &[am-padding="top"] {
    padding-top: 1vw;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  &[am-padding="right"] {
    padding-right: 1vw;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
  }
  &[am-padding="bottom"] {
    padding-bottom:1vw;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;

  }
  &[am-padding="left"] {
    padding-left: 1vw;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  &[am-padding="small"] {
    padding-top: .5vw;
    padding-right: .5vw;
    padding-bottom: 5vw;
    padding-left: .5vw;
  }
  &[am-padding="medium"] {
    padding-top: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 1.5vw;
  }
  &[am-padding="large"] {
    padding-top: 3vw;
    padding-right: 3vw;
    padding-bottom: 3vw;
    padding-left: 3vw;
  }

  &[am-margin] {
    margin-top: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
  }
  &[am-margin="top"] {
    margin-top: 1vw;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  &[am-margin="right"] {
    margin-right: 1vw;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
  }
  &[am-margin="bottom"] {
    margin-bottom: 1vw;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
  }
  &[am-margin="left"] {
    margin-left:1vw;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  &[am-margin="small"] {
    margin-top: .5vw;
    margin-right: .5vw;
    margin-bottom: 5vw;
    margin-left: .5vw;
  }
  &[am-margin="medium"] {
    margin-top: 1.5vw;
    margin-right: 1.5vw;
    margin-bottom: 1.5vw;
    margin-left: 1.5vw;
  }
  &[am-margin="large"] {
    margin-top: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vw;
    margin-left: 3vw;
  }

  &[am-layout~="vertical"] {
    & > section {
      .flex-basis(100%);
      margin-left: 0;
    }
  }
}


@media (orientation:portrait){
  [am-layout~="gutter"] {
    &[am-gutter~="padding"] {
      & > section {
        padding-left:0;
      }
      & > section:first-of-type {
        margin-left:0;
      }
    }

    &[am-gutter~="margin"] {
      & > section {
        margin-left:0;
      }
    }
  }
}