[am-layout~="vertical"] {
  & > section {
    .flex-basis(auto); //  https://social.msdn.microsoft.com/Forums/ie/en-US/8145c1e8-6e51-4213-ace2-2cfa43b1c018/ie-11-flexbox-with-flexwrap-wrap-doesnt-seem-to-calculate-widths-correctly-boxsizing-ignored?forum=iewebdevelopment
    width: 100%;
  }
}
// em for margin & padding is more consistent than viewport sizing for inner HTML
[am-layout~="gutter"] {
  &[am-gutter="padding"] {
    padding: 0;
    & > section {
      padding-left:1em;
    }
    & > section:first-of-type {
      margin-left:-1em;
    }
    @media (orientation:portrait){
      &[am-gutter~="padding"] {
        & > section {
          padding-left:0;
        }
        & > section:first-of-type {
          margin-left:0;
        }
      }
    }
  }
  &[am-gutter="margin"] {
    margin: 0;
    & > section {
      margin-left:1em;
    }
    & > section:first-of-type, header + section, nav + section, footer + section, h1 + section, h2 + section, h3 + section, h4 + section, h5 + section, h6 + section, hr + section, p + section {
      margin-left: 0;
    }
    @media (orientation:portrait){
      &[am-gutter~="margin"] {
        & > section {
          margin-left:0;
        }
      }
    }
  }
}

// useful for testing layout and displaying nested content
[am-layout~="outline"] {
  &[am-gutter~="padding"] p {
    background-color: rgba(93, 116, 137, 0.15);
    border: 1px solid rgba(93, 116, 137, 0.2);
  }
  section, aside, div {
    background-color: rgba(93, 116, 137, 0.15);
    border: 1px solid rgba(93, 116, 137, 0.2);
  }
}

