body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857; }
body > nav a:hover, header nav a:hover, article > nav a:hover {
  background-color:#eee; }
body nav a.active, header nav a:active, article > nav a:active {
  background-color:#eee; }
body > nav a, header nav a, article > nav a {
  text-align: center;
  transition: background 0.3s ease 0s;
  padding: 1vw; }
body > header nav {
  max-height: 65px; }
body > article  {
  /**
  * center content in first article not in main
  */
  .align-items(center);
  margin: auto;
  width: auto; }
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1vw;
  margin-top: 1.5vw;
  color: inherit;
  font-family: inherit;
  font-weight: 500; }
h1 {
  font-size: 4vmin;
  line-height: 4vh; }
h2 {
  font-size: 3.5vmin;
  line-height: 3.5vh; }
h3 {
  font-size: 3vmin;
  line-height: 3vh; }
h4 {
  font-size: 2.5vmin;
  line-height: 3vh; }
h5 {
  font-size: 2.5vmin;
  line-height: 3vh; }
h6 {
  font-size: 2.5vmin;
  line-height: 3vh; }

p {
  margin: 0 0 10px; }
a {
  display: inline-block;
  color: #428bca;
  text-decoration: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0); }
a:hover, a:focus {
  color:#2a6496;
}
a:active, a:hover {
  outline: 0 none; }
code {
  background-color: #f9f2f4;
  border-radius: 4px;
  color: #c7254e;
  font-size: 90%;
  padding: 2px 4px; }
code, kbd, pre, samp {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }
blockquote:before, blockquote:after {
  content: ""; }
blockquote {
  border-left: 5px solid #eee;
  margin: 0 0 20px;
  padding: 10px 20px;
  font-size: small; }
pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  display: block;
  font-size: 13px;
  line-height: 1.42857;
  margin: 0 0 10px;
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word; }
label {
  font-weight: 700;
  margin-bottom: 5px; }
input, button, select, textarea {
  font-size: inherit;
  line-height: inherit; }
hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(0, 0, 0, 0.12);
  border-style: solid none none;
  border-width: 1px 0 0;
  box-sizing: content-box;
  height: 0;
  border-image: none;
  margin-bottom: 0;
  margin-top: 0;
  clear: both; }
/**
* vertical rule
*/
[am-verticalrule] {
  width: 1px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.12);
  height: 99.9%;
  position: absolute; }