// Grid
// Ambient semantic layout

// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*, *:before, *:after {
  box-sizing: inherit; }
html {
  box-sizing: border-box;
  height: 100%; }
body {
  min-width: 100%;
  min-height: 100%;
  .flex-display;
  .flex-direction(column);
  & > footer {
    /***
    * page footer is a sticky footer
    */
    .flex-order(2); }
  & > article  {
    /**
    * center page content in first article not in main horizontally and vertically
    */
    .align-items(center);
    margin: auto;
    width: auto; }
}
main, header, nav, footer, h1, h2, h3, h4, h5, h6, hr, p {
  /**
  * column (section) clearing
  */
  width: 100%;
  word-wrap: break-word;
}
header {
  .flex-display;
  .flex-flow(row wrap);
}
nav {
  .flex-display;
  .flex-flow(row wrap);
  & a {
    .flex(1 8.3333%);
  }
}
main {
  .flex(1 0 auto); }
article {
  /**
 * row
 */
  .flex-display;
  .flex-flow(row wrap);
  /**
  * help content on absolute positioning
  */
  position: relative;
}
section {
  /**
 * column
 */
  .flex(1 8.3333%);
  /**
  * help content on absolute positioning
  */
  position: relative; }
aside {
  .flex(0 0 20%);  }
footer {
  .flex-display;
  .flex-flow(row wrap); }
img {
  max-width: 100%;
  height: auto; }

@media (orientation:portrait){
  section, aside {
    .flex-basis(100%);
  }
  /**
  * change vertical rule back to horizontal rule for portrait view
  */
  [am-verticalrule] {
    width: 100%;
    background-color: transparent;
    position: static; }
}
