// Ambient
// Ambient is a CSS (flexbox) framework that makes use of HTML5 sections & outlines for semantic scaffolding.
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  height: calc(100%); // http://css-tricks.com/a-couple-of-use-cases-for-calc/
}
body {
  min-height: 100%; //  min-width: 100%; potentially removing this because it impacts am-margin
  .flex-display;
  .flex-direction(column);

  & > article  { // center page content in first article not in main horizontally and vertically
    .align-items(center);
    margin: auto;
    width: auto;
  }
}
// http://www.w3.org/TR/CSS2/visuren.html
// Block elements are 100% width of parent element, if width is not specified.
// section clearing
header,
nav,
article,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
div {
  width: 100%;
  word-wrap: break-word;
  position: relative; // help content on absolute positioning
}
header,
nav,
main,
article,
footer {
  .flex-display;
  .flex-flow(row wrap);
  .align-content(flex-start);
}
main {
  .flex(1 0 auto);
}
section,
aside + article {
  .flex(1 8.3333%);
}
aside {
  .flex(0 0 20%);
}
footer {
  .flex-order(2); // sticky footer issue in IE is known issue:: https://github.com/philipwalton/solved-by-flexbox/issues/28
}


@media (orientation:portrait){ // portrait
  article {
    .flex-direction(column);
  }
  section,
  aside {
    .flex-basis(auto); // https://social.msdn.microsoft.com/Forums/ie/en-US/8145c1e8-6e51-4213-ace2-2cfa43b1c018/ie-11-flexbox-with-flexwrap-wrap-doesnt-seem-to-calculate-widths-correctly-boxsizing-ignored?forum=iewebdevelopment
    width: 100%;
  }
}


body > div[ui-view] { // issue #23 https://github.com/ionlyseespots/ambient-design/issues/23
  min-width: 100%;
  min-height: 100vh;
  .flex-display;
  .flex-direction(column);
  & > article {
    .align-items(center);
    margin: auto;
    width: auto;
  }
  & > header,
  & > footer {
    background-color: @am-closure;
    color: @am-primary-bg;
    &
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: @am-primary-bg;
    }
    & a {
      color: @am-primary-bg;
      &:hover {
        color:#fff;
      }
    }
  }
}