// Utilities
// Small collection of utility classes for  your content
.active {
  background-color:#E9E9E9;
}
.text-left {
  text-align: left; }
.text-right {
  text-align: right; }
.text-center {
  text-align: center; }
.text-lowercase {
  text-transform: lowercase; }
.text-uppercase {
  text-transform: uppercase; }
.text-capitalize {
  text-transform: capitalize; }
.text-padding-small {
  padding: 1vw; }
.text-padding-medium {
  padding: 2vw; }
.text-padding-large {
  padding: 3vw; }
.content-padding-small {
  padding: 1vw; }
.content-padding-medium {
  padding: 2vw; }
.content-padding-large {
  padding: 3vw; }
.btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 10px;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; }
.btn:hover, .btn:focus {
  text-decoration: none; }
.btn-default {
  background-color: #fff;
  border-color: #ccc;
  color: #333; }
.btn-primary {
  background-color: #333;
  color: #fff; }

.bg-primary {
  background-color:#E9E9E9;
}
.bg-secondary {
  background-color:#F7F7F7;
}
.ghost {
  background-color: transparent;
  padding: 1vw;
  -webkit-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
  -moz-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
  -o-transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
  transition: color .25s linear, background-color .25s ease-in-out, border-color .25s ease-in-out;
}

.ghost:hover {
  background-color: #fff;
}
/**
* Font Awesome basic style
*/
.fa {
  font-size: 4vmin;
  padding: .2vw .5VW;
}
.fa-2x {
  font-size: 5vmin;
}
.fa-3x {
  font-size: 6vmin;
}
.fa-4x {
  font-size: 7vmin;
}
.fa-5x {
  font-size: 8vmin;
}