// Utilities
// Small collection of classes for your content
.am-active {
  background-color:@am-bg-primary;
}
.am-text-left {
  text-align: left; }
.am-text-right {
  text-align: right; }
.am-text-center {
  text-align: center; }
.am-text-lowercase {
  text-transform: lowercase; }
.am-text-uppercase {
  text-transform: uppercase; }
.am-text-capitalize {
  text-transform: capitalize; }
.am-btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 10px;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #fff;
  border-color: #ccc;
  color: #333;
}
.am-btn-primary {
  background-color: #333;
  color: #fff; }
.am-bg-primary {
  background-color: @am-bg-primary;
}
.am-bg-default {
  background-color: @am-bg-default;
}
