// Utilities
// Small collection of utility classes for your content
.text-left {
  text-align: left; }
.text-right {
  text-align: right; }
.text-center {
  text-align: center; }
.text-lowercase {
  text-transform: lowercase; }
.text-uppercase {
  text-transform: uppercase; }
.text-capitalize {
  text-transform: capitalize; }
.text-padding-small {
  padding: 1vw; }
.text-padding-medium {
  padding: 2vw; }
.text-padding-large {
  padding: 3vw; }
.btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; }
.btn:hover, .btn:focus {
  text-decoration: none; }
.btn-default {
  background-color: #fff;
  border-color: #ccc;
  color: #333; }
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #333; }
.btn-primary {
  background-color: #333;
  color: #fff; }

/**
* Font Awesome basic style
*/
.fa {
  font-size: 4vmin;
  padding: .2vw .5VW;
}
.fa-2x {
  font-size: 5vmin;
}
.fa-3x {
  font-size: 6vmin;
}
.fa-4x {
  font-size: 7vmin;
}
.fa-5x {
  font-size: 8vmin;
}
[am-grid] article {
  margin-top: 1vw; }
[am-grid] section, [am-grid] aside {
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
  padding-bottom: 1vw;
  padding-top: 1vw; }