//
// Descriptive Variables
// --------------------------------------------------

//== Colors
// http://www.smashingmagazine.com/2014/03/28/design-principles-visual-perception-and-the-principles-of-gestalt/

// Primary
@am-primary: #428bca;
@am-primary-bg: #CEE1EF;

// Secondary
@am-secondary-bg: #F7F7F7;

// Gestalt Principles
@am-closure: #333333;

//
// Functional Variables
// --------------------------------------------------


//== Links
@am-link-color: darken(@am-primary, 6.5%);
